In [1]:
pip install SQLAlchemy==1.4.46

Requirement already satisfied: SQLAlchemy==1.4.46 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.46)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandasql

Requirement already satisfied: pandasql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.7.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandasql) (1.24.2)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandasql) (1.5.2)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import pandasql as ps
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import scipy.io
from utils import *
#from google.colab import drive

#from google.colab import drive
#drive.mount('/content/drive')

# <font color=33FFF9>**Introduction to Booklet**</font>

<h3 style="font-family:Georgia;"> Introduction</h3>
<p> This documentation is for my thesis project on aircraft design and analysis. This document serves as a comprehensive repository of all the information, work, code, and notes accumulated throughout the course of my research.</p>

<h3 style="font-family:Georgia;"> Purpose</h3>
Within this documentation, you will discover the following key components:

<ul>
    <li><strong>Research Objectives:</strong> Clearly defined goals and objectives guiding the research project.</li>
    <li><strong>Literature Review:</strong> A comprehensive summary of key findings from relevant literature and research in the field of aircraft design and analysis.</li>
    <li><strong>Data Sources:</strong> Documentation of the sources of data utilized, whether obtained from publicly available datasets, industry reports, or proprietary sources.</li>
    <li><strong>Model Development:</strong> Detailed explanation of the development and implementation of any machine learning models or algorithms used in the research, including parameter tuning and validation techniques.</li>
    <li><strong>Results and Analysis:</strong> Presentation of the findings and analysis, including insights or trends discovered from the data.</li>
    <li><strong>References:</strong> A comprehensive list of references cited throughout the documentation, following a consistent citation style.</li>
    <li><strong>Important Notes:</strong> Insights into the rationale behind specific decisions made during the research process and any noteworthy considerations.</li>
</ul>

<h3 style="font-family:Georgia;"> Color Coding</h3>
<ul>
<li style="color: #33FFF9;"><strong>Title:</strong> #33FFF9</li>
<li style="color: #CE33FF;"><strong>Parameters Section:</strong> #CE33FF</li>
<li style="color: #FF338D;"><strong>Subsections:</strong> #FF338D</li>
<li style="color: #FF5533;"><strong>Important Notes:</strong> #FF5533</li>
<li style="color: #6E6E6E;"><strong>Parameter Name:</strong> #6E6E6E</li>
</ul>

# <font color=33FFF9>**Standard Units In Aviation**</font>

<table style="width:100%">
  <tr>
    <th>Parameter</th>
    <th>Unit</th>
  </tr>
  <tr>
    <td>Speed</td>
    <td>Knots (kt)</td>
  </tr>
  <tr>
    <td>Distance</td>
    <td>Nautical Miles (NM)</td>
  </tr>
  <tr>
    <td>Altitude</td>
    <td>Feet (ft)</td>
  </tr>
  <tr>
    <td>Weight</td>
    <td>Kilograms (kg)</td>
  </tr>
  <tr>
    <td>Fuel Capacity	</td>
    <td>Liters (L)</td>
  </tr>
  <tr>
    <td>Thrust</td>
    <td>Newtons (N)</td>
  </tr>
  <tr>
    <td>Temperature</td>
    <td>Celsius (°C)</td>
  </tr>
  <tr>
    <td>Acceleration</td>
    <td>Meters per second squared (m/s²)</td>
  </tr>
  <tr>
    <td>Force</td>
    <td>Newtons (N)</td>
  </tr>
  <tr>
    <td>Density</td>
    <td>Kilograms per cubic meter (kg/m³)</td>
  </tr>
  <tr>
    <td>Length</td>
    <td>Meters</td>
  </tr>
  </tr>
</table>

# <font color=33FFF9>**Dataset: Aircraft Performance (Aircraft Bluebook)**</font>

<p> The dataset is taken from the following link: <a href="https://www.kaggle.com/datasets/heitornunes/aircraft-performance-dataset-aircraft-bluebook/versions/11?resource=download&select=Airplane_Cleaned.csv">Aircraft Bluebook</a>



This dataset contains 861 airplanes and 102 helicopters and their characteristics, such as Max Speed, Cruise Speed, Range, etc. Data wrangling is recommend for data analysis, since there's a lot of missing values, different data formats and units for the same features.

## <font style="color: #CE33FF;"> Features Updated: </font>

<ul>
    <li><strong><span style="color: #374DC8;">Model:</span></strong> Airplane's name.</li>
    <li><strong><span style="color: #374DC8;">Company:</span></strong> Company's name..</li>
    <li><strong><span style="color: #374DC8;">Engine Type:</span></strong> Engine type used in the airplane..</li>
    <li><strong><span style="color: #374DC8;">Multi Engine:</span></strong> Multi Enginer or not.</li>
    <li><strong><span style="color: #374DC8;">TP Models:</span></strong> Third Party Modifications.</li>
    <li><strong><span style="color: #374DC8;">*THR (Thurst Power):</span></strong> Engine's ability to produce thrust. Only applicable to jet engines.</li>
    <li><strong><span style="color: #374DC8;">SHP (Shaft Power):</span></strong> Engine's ability to produce shaft power. Only applicable to piston engines or turboprop engines.</li>
    <li><strong><span style="color: #374DC8;">Length:</span></strong> Airplane's length. Units: ft + in.</li>
    <li><strong><span style="color: #374DC8;">Height:</span></strong> Airplane's height. Units: ft + in.</li>
    <li><strong><span style="color: #374DC8;">Wing Span:</span></strong> Airplane's wingspan. Units: ft + in.</li>
    <li><strong><span style="color: #374DC8;">FW (Fuel Weight):</span></strong> Indicates the weight of the fuel in pounds. In aviation, fuel is often measured and stored in gallons, particularly in smaller aircraft. However, fuel consumption and performance calculations are typically done based on weight rather than volume, as weight directly affects the aircraft's performance</li>
    <li><strong><span style="color: #374DC8;">MEW (Manufacturer's Empty Weight):</span></strong> Empty weight lbs. It's the weight of the aircraft "as built" and includes the weight of the structure, power plant, furnishings, installations, systems, and other equipments.</li>
    <li><strong><span style="color: #374DC8;">AUW:</span></strong> All-Up Weight. Total aircraft weight at any moment during the flight.</li>
    <li><strong><span style="color: #374DC8;">Vmax (Max speed Knots):</span></strong> Airplane's maximum speed. Units: Knot or Mach.</li>
    <li><strong><span style="color: #374DC8;">Vcruise (Rcmnd cruise Knots):</span></strong> Airplane's High cruise speed. Units: Knot.</li>
    <li><strong><span style="color: #374DC8;">Vstall (Stall Knots dirty):</span></strong> Airplane's stall speed on "dirty" configuration (flaps out, gear down, etc.). Units: Knot.</li>
    <li><strong><span style="color: #374DC8;">Hmax (All Engine Service Ceiling):</span></strong>The All Engine Service Ceiling indicates the highest altitude at which the aircraft can maintain level flight with all engines operating at maximum power. It accounts for the aircraft's performance capabilities under normal operating conditions.</li>
    <li><strong><span style="color: #374DC8;">Hmax (One) (Engine Out Service Ceiling):</span></strong> The Engine Out Service Ceiling indicates the highest altitude at which the aircraft can maintain level flight with one engine inoperative. It accounts for the reduced performance and climb capability resulting from the loss of an engine.</li>
    <li><strong><span style="color: #374DC8;">ROC (All eng rate of climb):</span></strong> Airplane's rate of climb with all engines working. Units: ft/min.</li>
    <li><strong><span style="color: #374DC8;">ROC(One) (Eng out rate of climb):</span></strong> Airplane's rate of climb with one engine working. Units: ft/min.</li>
    <li><strong><span style="color: #374DC8;">Vlo (Takeoff over 50ft):</span></strong> Airplane's climb speed during normal take-off for 50 ft obstacle. Units: ft/min.</li>
    <li><strong><span style="color: #374DC8;">Slo (Takeoff ground run):</span></strong> Airplane's takeoff ground run. Units: ft.</li>
    <li><strong><span style="color: #374DC8;">VI (Landing over 50ft):</span></strong></li>
    <li><strong><span style="color: #374DC8;">SI (Landing ground roll):</span></strong> </li>
    <li><strong><span style="color: #374DC8;">Range:</span></strong> Airplane's range. Units: N.m. (Nautical miles).</li>
</ul>

In [2]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [12]:
aircraft_performance_dataset = pd.read_csv('Datasets/Aircraft Performance (Aircraft Bluebook)/Airplane_Cleaned.csv')
aircraft_performance_dataset

,Model,Company,Engine Type,Multi Engine,TP mods,THR,SHP,Length,Height,Wing Span,FW,MEW,AUW,Vmax,Vcruise,Vstall,Hmax,Hmax (One),ROC,ROC (One),Vlo,Slo,Vl,Sl,Range
0,15 AC Sedan,Aeronca,Piston,NaN,False,NaN,145.0,25.250000,10.250000,37.416667,241.2,1180.0,2050.0,104.0,91.0,46.0,13000.0,NaN,450.0,NaN,900.0,NaN,1300.0,NaN,370.0
1,11 CC Super Chief,Aeronca,Piston,NaN,False,NaN,85.0,20.583333,8.750000,36.083333,100.5,820.0,1350.0,89.0,83.0,44.0,12300.0,NaN,600.0,NaN,720.0,NaN,800.0,NaN,190.0
2,7 CCM Champ,Aeronca,Piston,NaN,False,NaN,90.0,21.416667,8.583333,35.000000,127.3,810.0,1300.0,90.0,78.0,37.0,16000.0,NaN,650.0,NaN,475.0,NaN,850.0,NaN,210.0
3,7 DC Champ,Aeronca,Piston,NaN,False,NaN,85.0,21.416667,8.583333,35.000000,127.3,800.0,1300.0,88.0,78.0,37.0,13000.0,NaN,620.0,NaN,500.0,NaN,850.0,NaN,210.0
4,7 AC Champ,Aeronca,Piston,NaN,False,NaN,65.0,21.416667,8.750000,35.000000,93.8,740.0,1220.0,83.0,74.0,33.0,12500.0,NaN,370.0,NaN,632.0,NaN,885.0,NaN,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,500 A,Twin Commander A/C,Piston,True,False,NaN,260.0,35.083333,14.416667,49.416667,1045.2,4255.0,6250.0,198.0,190.0,54.0,22500.0,7850.0,1400.0,320.0,1210.0,970.0,1150.0,865.0,957.0
856,500,Twin Commander A/C,Piston,True,False,NaN,250.0,35.083333,14.416667,49.000000,1045.2,3850.0,6000.0,190.0,178.0,55.0,22500.0,7150.0,1400.0,290.0,1250.0,1000.0,1350.0,950.0,957.0
857,520,Twin Commander A/C,Piston,True,False,NaN,260.0,35.416667,14.416667,44.083333,1005.0,3800.0,5500.0,183.0,171.0,52.0,24000.0,8500.0,1700.0,400.0,1100.0,950.0,1050.0,900.0,1000.0
858,2180,Varga,Piston,NaN,False,NaN,180.0,21.166667,7.000000,30.000000,221.1,1175.0,1817.0,130.0,116.0,45.0,22000.0,NaN,1310.0,NaN,NaN,NaN,NaN,NaN,365.0
859,2150A Kachina,Varga,Piston,NaN,False,NaN,150.0,21.166667,7.000000,30.000000,221.1,1125.0,1817.0,117.0,104.0,45.0,22000.0,NaN,910.0,NaN,NaN,NaN,NaN,NaN,380.0

In [13]:
aircraft_performance_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Model         860 non-null    object
 1   Company       860 non-null    object
 2   Engine Type   860 non-null    object
 3   Multi Engine  381 non-null    object
 4   TP mods       860 non-null    bool
 5   THR           156 non-null    float64
 6   SHP           704 non-null    float64
 7   Length        846 non-null    float64
 8   Height        843 non-null    float64
 9   Wing Span     856 non-null    float64
 10  FW            855 non-null    float64
 11  MEW           840 non-null    float64
 12  AUW           857 non-null    float64
 13  Vmax          817 non-null    float64
 14  Vcruise       838 non-null    float64
 15  Vstall        762 non-null    float64
 16  Hmax          827 non-null    float64
 17  Hmax (One)    361 non-null    float64
 18  ROC           798 non-null    float64
 19  ROC (One)     373 non-null    float64
 20  Vlo           738 non-null    float64
 21  Slo           719 non-null    float64
 22  Vl            735 non-null    float64
 23  Sl            687 non-null    float64
 24  Range         815 non-null    float64
dtypes: bool(1), float64(20), object(4)
memory usage: 162.2+ KB

<font color=red><b>
Next Steps:
- Remove unnecessary columns
- Convert ft, in values into meters
- Try to fill in as many null values as possible
- Change aircraft names. Such as remove brackets, and add company name before aircraft name
</font>

In [14]:
aircraft_performance_dataset = aircraft_performance_dataset.drop(['TP mods', 'Vstall', 'ROC (One)', 'Vlo', 'Slo', 'Vl',	'Sl', 'Hmax (One)'], axis=1)
aircraft_performance_dataset

,Model,Company,Engine Type,Multi Engine,THR,SHP,Length,Height,Wing Span,FW,MEW,AUW,Vmax,Vcruise,Hmax,ROC,Range
0,15 AC Sedan,Aeronca,Piston,NaN,NaN,145.0,25.250000,10.250000,37.416667,241.2,1180.0,2050.0,104.0,91.0,13000.0,450.0,370.0
1,11 CC Super Chief,Aeronca,Piston,NaN,NaN,85.0,20.583333,8.750000,36.083333,100.5,820.0,1350.0,89.0,83.0,12300.0,600.0,190.0
2,7 CCM Champ,Aeronca,Piston,NaN,NaN,90.0,21.416667,8.583333,35.000000,127.3,810.0,1300.0,90.0,78.0,16000.0,650.0,210.0
3,7 DC Champ,Aeronca,Piston,NaN,NaN,85.0,21.416667,8.583333,35.000000,127.3,800.0,1300.0,88.0,78.0,13000.0,620.0,210.0
4,7 AC Champ,Aeronca,Piston,NaN,NaN,65.0,21.416667,8.750000,35.000000,93.8,740.0,1220.0,83.0,74.0,12500.0,370.0,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,500 A,Twin Commander A/C,Piston,True,NaN,260.0,35.083333,14.416667,49.416667,1045.2,4255.0,6250.0,198.0,190.0,22500.0,1400.0,957.0
856,500,Twin Commander A/C,Piston,True,NaN,250.0,35.083333,14.416667,49.000000,1045.2,3850.0,6000.0,190.0,178.0,22500.0,1400.0,957.0
857,520,Twin Commander A/C,Piston,True,NaN,260.0,35.416667,14.416667,44.083333,1005.0,3800.0,5500.0,183.0,171.0,24000.0,1700.0,1000.0
858,2180,Varga,Piston,NaN,NaN,180.0,21.166667,7.000000,30.000000,221.1,1175.0,1817.0,130.0,116.0,22000.0,1310.0,365.0
859,2150A Kachina,Varga,Piston,NaN,NaN,150.0,21.166667,7.000000,30.000000,221.1,1125.0,1817.0,117.0,104.0,22000.0,910.0,380.0

In [10]:
print("Types of Engines:", aircraft_performance_dataset['Engine Type'].unique())

Types of Engines: ['Piston' 'Propjet' 'Jet']

In [11]:
boeing_747= aircraft_performance_dataset[aircraft_performance_dataset['Model'] == '11 CC Super Chief']
boeing_747

,Model,Company,Engine Type,Multi Engine,THR,SHP,Length,Height,Wing Span,FW,MEW,AUW,Vmax,Vcruise,Hmax,Hmax (One),ROC,Range
1,11 CC Super Chief,Aeronca,Piston,NaN,NaN,85.0,20.583333,8.75,36.083333,100.5,820.0,1350.0,89.0,83.0,12300.0,NaN,600.0,190.0

## About the dataset

- **Aircraft Information:** Model, Company, Engine Type, Multi Engine, TP Models
- **Physical Characteristics:** Length, Height, Wing Span, FW (Fuel Weight), MEW (Manufacturer's Empty Weight), AUW (All-Up Weight)
- **Performance Metrics:** Vmax (Max Speed), Vcruise (Recommended Cruise Speed), Vstall (Stall Speed), ROC (Rate of Climb), ROC(One) (Rate of Climb with One Engine), Vlo (Takeoff Speed over 50ft), Slo (Takeoff Ground Run), VI (Landing over 50ft), SI (Landing Ground Roll), Range

<br><br>

### Parameters Related to Aerodynamics, Flight Mechanics, or Others:

- **Aerodynamics:** Parameters such as Vmax (Max Speed), Vcruise (Recommended Cruise Speed), Vstall (Stall Speed), ROC (Rate of Climb), ROC(One) (Rate of Climb with One Engine), Vlo (Takeoff Speed over 50ft), Slo (Takeoff Ground Run), VI (Landing over 50ft), SI (Landing Ground Roll) are directly related to aerodynamics and flight performance.
- **Flight Mechanics:** Parameters like ROC (Rate of Climb), ROC(One) (Rate of Climb with One Engine), Vlo (Takeoff Speed over 50ft), Slo (Takeoff Ground Run), VI (Landing over 50ft), SI (Landing Ground Roll) are related to flight mechanics as they describe the aircraft's behavior during takeoff, landing, and climb.

<br><br>

### Using Parameters to Calculate Different Parameters:
- **Climb Gradient:** Calculate the aircraft's climb gradient based on its rate of climb and ground speed.
- **Lift-to-Drag Ratio (L/D):** Estimate the lift-to-drag ratio of the aircraft based on its aerodynamic parameters such as wing span and drag coefficient.
- **Breguets Range Equation:**

--------------------------------------------------------------

--------------------------------------------------------------

--------------------------------------------------------------

# <font color=33FFF9> **Investigating Aircraft Weight and Balance Metrics**</font>
Taken from the following linK: https://www.kaggle.com/datasets/aadharshviswanath/investigating-aircraft-weight-and-balance-metrics


This dataset offers a comprehensive compilation of weight and balance information for a diverse array of aircraft models that are extensively employed in aviation operations.

- **Aircraft Model:** The name or model designation of the
aircraft.
- **Empty Weight (kg):** The weight of the aircraft when empty, including the airframe, engines, avionics, and other essential equipment.
- **Maximum Takeoff Weight (kg):** The maximum weight at which the aircraft is certified to take off, including passengers, cargo, and fuel.
- **Maximum Landing Weight (kg):**The maximum weight at which the aircraft is certified to land safely.
- **Center of Gravity Limits:** The range within which the center of gravity of the aircraft must be located for safe flight, expressed as a percentage of the Mean Aerodynamic Chord (MAC).
- **Wing Loading (kg/m²):** The load per unit area of the wing, is calculated by dividing the maximum takeoff weight by the wing area.
- **Tail Loading (kg/m²):** Similar to wing loading, but for the tail section of the aircraft.
- **Fuel Capacity (liters):** The maximum amount of fuel the aircraft can carry, influencing its range and endurance.
- **Number of Passengers:** The maximum number of passengers the aircraft can accommodate.
- **Cargo Capacity (kg):** The maximum weight of cargo or baggage the aircraft can carry.
- **Maximum Altitude (ft):** The maximum altitude at which the aircraft can safely operate.
- **Maximum Speed (knots):** The maximum speed the aircraft can reach, typically measured in knots (nautical miles per hour).
- **Engine Type:** The type of engines used on the aircraft, such as turbofan or turboprop.
- **Fuselage Length (m):** The length of the aircraft's fuselage, which may impact aerodynamics and weight distribution.

In [24]:
airplane_weight_dataset = pd.read_csv('Datasets/Investigating Aircraft Weight and Balance Metrics/Investigating Aircraft Weight and Balance Metrics.csv')
airplane_weight_dataset

,Unnamed: 0,Aircraft Model,Empty Weight (kg),Maximum Takeoff Weight (kg),Maximum Landing Weight (kg),Center of Gravity Limits,Wing Loading (kg/m²),Tail Loading (kg/m²),Fuel Capacity (liters),Number of Passengers,Cargo Capacity (kg),Maximum Altitude (ft),Maximum Speed (knots),Engine Type,Fuselage Length (m)
0,0,Airbus A320,149968.187455,2.795251e+05,255896.490294,25%-35% of MAC,818.558281,124.788364,52538.236167,472,80061.732289,44470,658,Turbofan,41.726817
1,1,Boeing 777,140855.879891,1.450552e+05,143703.314584,15%-30% of MAC,366.423230,111.743182,298000.265987,257,27118.725192,31739,495,Turbofan,54.402799
2,2,Airbus A320,151024.598908,5.343439e+05,270662.904304,20%-35% of MAC,829.145903,138.672695,176299.254601,172,1002.209110,24398,585,Turboprop,28.864086
3,3,Airbus A320,180889.454772,8.151858e+05,183594.487162,15%-30% of MAC,290.845909,169.249463,51211.630194,444,75726.083545,26793,632,Turboprop,46.111611
4,4,Embraer E190,113855.173286,4.390943e+05,233683.883944,20%-35% of MAC,509.848919,32.282885,494662.501258,55,45268.322065,30982,663,Piston,80.394753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,Bombardier Global 6000,231639.994390,3.836723e+05,342423.233107,20%-35% of MAC,386.181592,75.389841,343170.196838,421,10838.506279,35895,557,Turboprop,55.817305
24996,24996,Bombardier Global 6000,221255.359587,1.074710e+06,276781.653473,15%-30% of MAC,367.397978,199.633207,311523.190561,462,58961.668447,25187,588,Turbofan,15.447788
24997,24997,Gulfstream G650,34559.592817,1.272493e+05,125404.410579,20%-40% of MAC,517.456695,147.840228,97968.104728,289,60801.747075,36838,441,Turboprop,58.920670
24998,24998,Beechcraft King Air 350,94871.536439,2.573037e+05,191036.131733,20%-35% of MAC,782.307394,120.828459,39422.458907,421,35974.887809,52334,673,Turboprop,69.698684
24999,24999,Bombardier Global 6000,156700.303740,7.422506e+05,259282.345673,20%-40% of MAC,837.661585,109.230488,96468.702531,175,53272.134930,57463,692,Turbofan,23.304120

In [25]:
airplane_weight_dataset = airplane_weight_dataset.rename(columns={'Aircraft Model': 'Aircraft_Model', 'Empty Weight (kg)': 'Empty_Weight', 'Max Gross Weight (kg)': 'Max_Gross_Weight', 'Maximum Takeoff Weight (kg)': 'Max_Takeoff_Weight',
                                                                  'Maximum Landing Weight (kg)': 'Max_Landing_Weight', 'Center of Gravity Limits': 'Center_of_Gravity_Limits', 'Wing Loading (kg/m²)': 'Wing_Loading',
                                                                  'Tail Loading (kg/m²)': 'Tail_Loading', 'Fuel Capacity (liters)': 'Fuel_Capacity', 'Number of Passengers': 'Number_of_Passengers', 
                                                                  'Cargo Capacity (kg)': 'Cargo_Capacity', 'Maximum Altitude (ft)': 'Max_Altitude', 
                                                                  'Maximum Speed (knots)': 'Max_Speed', 'Engine Type': 'Engine_Type', 'Fuselage Length (m)': 'Fuselage_Length'})
airplane_weight_dataset

,Unnamed: 0,Aircraft_Model,Empty_Weight,Max_Takeoff_Weight,Max_Landing_Weight,Center_of_Gravity_Limits,Wing_Loading,Tail_Loading,Fuel_Capacity,Number_of_Passengers,Cargo_Capacity,Max_Altitude,Max_Speed,Engine_Type,Fuselage_Length
0,0,Airbus A320,149968.187455,2.795251e+05,255896.490294,25%-35% of MAC,818.558281,124.788364,52538.236167,472,80061.732289,44470,658,Turbofan,41.726817
1,1,Boeing 777,140855.879891,1.450552e+05,143703.314584,15%-30% of MAC,366.423230,111.743182,298000.265987,257,27118.725192,31739,495,Turbofan,54.402799
2,2,Airbus A320,151024.598908,5.343439e+05,270662.904304,20%-35% of MAC,829.145903,138.672695,176299.254601,172,1002.209110,24398,585,Turboprop,28.864086
3,3,Airbus A320,180889.454772,8.151858e+05,183594.487162,15%-30% of MAC,290.845909,169.249463,51211.630194,444,75726.083545,26793,632,Turboprop,46.111611
4,4,Embraer E190,113855.173286,4.390943e+05,233683.883944,20%-35% of MAC,509.848919,32.282885,494662.501258,55,45268.322065,30982,663,Piston,80.394753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24995,Bombardier Global 6000,231639.994390,3.836723e+05,342423.233107,20%-35% of MAC,386.181592,75.389841,343170.196838,421,10838.506279,35895,557,Turboprop,55.817305
24996,24996,Bombardier Global 6000,221255.359587,1.074710e+06,276781.653473,15%-30% of MAC,367.397978,199.633207,311523.190561,462,58961.668447,25187,588,Turbofan,15.447788
24997,24997,Gulfstream G650,34559.592817,1.272493e+05,125404.410579,20%-40% of MAC,517.456695,147.840228,97968.104728,289,60801.747075,36838,441,Turboprop,58.920670
24998,24998,Beechcraft King Air 350,94871.536439,2.573037e+05,191036.131733,20%-35% of MAC,782.307394,120.828459,39422.458907,421,35974.887809,52334,673,Turboprop,69.698684
24999,24999,Bombardier Global 6000,156700.303740,7.422506e+05,259282.345673,20%-40% of MAC,837.661585,109.230488,96468.702531,175,53272.134930,57463,692,Turbofan,23.304120

In [17]:
airplane_weight_dataset = airplane_weight_dataset.pop("Unnamed: 0")
airplane_weight_dataset

AttributeError: 'NoneType' object has no attribute 'pop'

In [26]:
airplane_weight_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                25000 non-null  int64
 1   Aircraft_Model            25000 non-null  object
 2   Empty_Weight              25000 non-null  float64
 3   Max_Takeoff_Weight        25000 non-null  float64
 4   Max_Landing_Weight        25000 non-null  float64
 5   Center_of_Gravity_Limits  25000 non-null  object
 6   Wing_Loading              25000 non-null  float64
 7   Tail_Loading              25000 non-null  float64
 8   Fuel_Capacity             25000 non-null  float64
 9   Number_of_Passengers      25000 non-null  int64
 10  Cargo_Capacity            25000 non-null  float64
 11  Max_Altitude              25000 non-null  int64
 12  Max_Speed                 25000 non-null  int64
 13  Engine_Type               25000 non-null  object
 14  Fuselage_Length           25000 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 2.9+ MB

## About the dataset
The parameters could be divided into three types:

- **Aerodynamics**
    - Wing Loading (kg/m²)
    - Tail Loading (kg/m²)
- **Aircraft Specification**        
    - Empty Weight (kg)
    - Maximum Takeoff Weight (kg)
    - Maximum Landing Weight (kg)
    - Center of Gravity Limits (% of Mean Aerodynamic Chord)
    - Fuel Capacity (liters)
    - Number of Passengers
    - Cargo Capacity (kg)
    - Engine Type
    - Fuselage Length (m)<br>
- **Performance Characteristics:**
    - Range
    - Endurance
    - Maximum Altitude (ft)
    - Maximum Speed (knots)


<br><br>

Using these sub-parameters, you can calculate or estimate the main parameters as follows:

- **Range:** Calculate based on fuel capacity, fuel consumption rate, and cruise speed.
- **Endurance:** Calculate based on fuel capacity, fuel consumption rate, and cruise speed.
- **Payload Capacity:** Calculate based on maximum takeoff weight, empty weight, cargo capacity, and number of passengers.
- **Maximum Altitude:** Estimate based on engine type, wing loading, tail loading, and maximum takeoff weight.
- **Maximum Speed:** Estimate based on engine type, maximum takeoff weight, fuselage length, and wing loading.


<br><br>
<font color=red> Note: The dataset is also good as it <b>DOESN'T</b> contain any <b>NULL</b> values</font>.

--------------------------------------------------------------

--------------------------------------------------------------

--------------------------------------------------------------

# <font color=33FFF9>**AIRCRAFT PERFORMANCE SUMMARY TABLES FOR THE BASE OF AIRCRAFT DATA (Left)**</font>


Taken from the following link: https://www.eurocontrol.int/node/10065

The document contains performance summary tables for the 67 aircraft types which are modelled by BADA Revision 3.0. These parameters are based on a total- energy model (TEM) of aircraft performance and the model is designed for use in trajectory simulation and prediction algorithms within the domain of Air Traffic Management(ATM).<br><br>

The document contains the following information:
- **aircraft type**
- **speed:** The speed laws for climb, cruise and descent are specified in lines 8, 9 and 10,
- **mass Levels:** The performance tables provide data for three different mass levels in lines 8, 9 and 10 that
- **temperature**
- **maximum altitude**
<br>

The table of performance data within the file consists of 13 columns

- **Column 1:** FL
- **Column 2:** cruise TAS (nominal mass) in knots
- **Column 3:** cruise fuel consumption (low mass) in kg/min
- **Column 4:** cruise fuel consumption (nominal mass) in kg/min
- **Column 5:** cruise fuel consumption (high mass) in kg/min
- **Column 6:** climb T AS (nominal mass) in knots
- **Column 7:** rate of climb with reduced power (low mass) in fpm
- **Column 8:** rate of climb with reduced power (nominal mass) in fpm
- **Column 9:** rate of climb with reduced power (high mass) in fpm
- **Column 10:** climb fuel consumption in kg/min
- **Column 11:** descent TAS (nominal mass) in knots
- **Column 12:** rate of descent (nominal mass) in fpm
- **Column 13:** descent fuel (nominal mass) consumption in fpm

<br><br>
<font color=red><b>Not sure if we currently need this data, since the parameters are not the most useful. Also, the data is just for 67 aircrafts, so I am not sure if it's even worth using NLP techniques or writing queries to extract this data. We can directly even check these values from the internet.</b></font>

------------------------------------------------------------------------------

------------------------------------------------------------------------------

------------------------------------------------------------------------------

### **Kinematic aircraft performance database**

Taken from the following link: https://github.com/junzis/wrap?tab=readme-ov-file

<font color=blue><b>The repository contains a folder called database, which includes the parameters shown below.</b></font>.

## **Parameters**

The parameters are defined by flight phases. The method to extract these parameters are define in the paper.

##### **Takeoff**

- liftoff speed (``to_v_lof``)
- takeoff distance (``to_d_tof``)
- mean takeoff acceleration (``to_acc_tof``)

#### **Initial climb:**
- cutoff altitude (``1500 ft``)
- calibrated airspeed (``ic_va_avg``)
- vertical speed (``ic_vs_avg``)

#### **Climb:**
- range to the top of climb (``cl_d_range``)
- constant CAS crossover altitude (``cl_h_cas_const``)
- constant CAS (``cl_v_cas_const``)
- vertical rate during constant CAS climb (``cl_vs_avg_pre_cas``)
- constant Mach climb crossover altitude (``cl_h_mach_const``)
- constant Mach number (``cl_v_mach_const``)
- vertical rate during constant Mach climb (``cl_vs_avg_mach_const``)
- vertical rate before constant CAS climb (``cl_vs_avg_pre_cas``)

#### **Cruise:**
- cruise range (``cr_d_range``)
- nominal cruise altitude (``cr_h_mean``)
- maximum cruise altitude (``cr_h_max``)
- nominal cruise Mach number (``cr_v_mach_mean``)
- maximum cruise Mach number (``cr_v_mach_max``)

#### **Descent:**
- range from the top of descent (``de_d_range``)
- constant Mach number (``de_v_mach_const``)
- constant Mach descent crossover altitude (``de_h_mach_const``)
- vertical rate during constant Mach descent (``de_vs_avg_mach_const``)
- constant CAS (``de_v_cas_const``)
- constant CAS crossover altitude (``de_h_cas_const``)
- vertical rate during constant CAS descent (``de_vs_avg_cas_const``)
- vertical rate after constant CAS descent (``de_vs_avg_after_cas``)

#### **Final approach:**
- cutoff altitude (``1500 ft``)
- calibrated airspeed (``fa_va_avg``)
- vertical rate (``fa_vh_avg``)
- approach angle (``fa_agl``)


#### **Landing:**
- touchdown speed (``ld_v_app``)
- breaking distance (``ld_d_brk``)
- mean breaking deceleration (``ld_acc_brk``)



## Supporting Aircraft types
  * Airbus
    * A319, A320, A321, A332, A333, A343, A388
  * Boeing
    * B737, B738, B739, B744, B752, B763, B77W, B788, B789
  * Other
    * E190

#### **Columns:**

- **Model:** Aircraft Model
- **pahse:** Phase at which the aircraft is in. For example, takeoff, initial climb, climb etc. For all phases, check the parameters above
- **opt:** Optimal value of the paramter
- **min:** Minimum value of the parameter
- **max:** Maximum value of the parameter
- **model:** For each parameter, all three probability density functions (Normal, Gamma, and Beta) are applied using MLE. The best model is
chosen 
- **pm:** 



<br><br>
<font color=red><b>I won't call it the most useful dataset, as it provides as range and optimal values. We don't need something like this for now. </b></font>

In [28]:
kinematic_aircraft_a319_performance_database = pd.read_csv('Datasets/Kinematic aircraft performance database/database/Kinematic aircraft performance database_final.csv')
kinematic_aircraft_a319_performance_database

           Model phase       param    opt    min    max  model              pm
0    Airbus A319    TO    to_v_lof  82.70  72.50  92.90   norm      82.71|7.10
1    Airbus A319    TO    to_d_tof   1.51   1.06   2.41  gamma  8.56|0.43|0.14
2    Airbus A319    TO  to_acc_tof   1.84   1.38   2.29   norm       1.84|0.28
3    Airbus A319    IC   ic_va_avg  80.00  73.00  87.00   norm      80.26|4.86
4    Airbus A319    IC   ic_vs_avg  12.27   9.52  15.04   norm      12.28|1.68
..           ...   ...         ...    ...    ...    ...    ...             ...
520  Embraer 190    FA   fa_vs_avg  -3.57  -4.34  -2.81   norm      -3.57|0.47
521  Embraer 190    FA      fa_agl   2.92   2.38   3.46   norm       2.92|0.33
522  Embraer 190    LD    ld_v_app  66.90  56.60  77.20   norm      66.90|7.16
523  Embraer 190    LD    ld_d_brk   2.10   0.70   3.52   norm       2.11|0.86
524  Embraer 190    LD  ld_acc_brk  -1.08  -1.80  -0.36   norm      -1.08|0.44

[525 rows x 8 columns]

------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------------------------------

# <font color=33FFF9>**The 50 Most Important Parameters of the 60 Most Used Passenger Aircraft**</font>

The database and information is taken from the following paper: https://www.fzt.haw-hamburg.de/pers/Scholz/arbeiten/TextHirsch.pdf<br>

Request to use the dataset has been granted.

## **Parameters**

- **Manufacturer:** The company that manufactures the aircraft.
- **Aircraft type:** The specific type or model designation of the aircraft.
- **Total number of operating A/C:** The total number of aircraft of this type currently in operation.
- **Option/Variant:** Any optional configurations or variants of the aircraft model.
- **Engine:** The type or model of engine(s) used in the aircraft.
- **No. of Engines:** The total number of engines installed on the aircraft.
- **Model:** The specific model name or designation of the aircraft.
- **Max. Rated Takeoff Thrust (T_TO):** The maximum rated thrust produced by the engines during takeoff, typically measured in kilonewtons (kN).
- **Equivalent Power (P):** The equivalent power of the engines, typically measured in kilowatts (kW).
- **Propeller:** Information about the propeller(s) used in the aircraft.
- **Cabin Length (l_CABIN):** The length of the cabin, which is the passenger compartment of the aircraft, typically measured in meters (m).
- **Max. Height of Cabin (h_CABIN):** The maximum height of the cabin, typically measured in meters (m).
- **Max. Width of Cabin (d_F,I):** The maximum width of the cabin, typically measured in meters (m).
- **Passenger Compartment Volume (V_CABIN):** The volume of the passenger compartment or cabin, typically measured in cubic meters (m³).
- **Fuselage Height (h_F):** The height of the fuselage, which is the main body of the aircraft, typically measured in meters (m).
- **Fuselage Width (w_F):** The width of the fuselage, typically measured in meters (m).
- **Total Length of Aircraft (l_A/C):** The total length of the aircraft, typically measured in meters (m).
- **Wingspan (b_W):** The wingspan of the aircraft, which is the distance from one wingtip to the other, typically measured in meters (m).
- **Height of Aircraft (h_A/C):** The height of the aircraft, typically measured in meters (m).
- **Landing Gear Track (l_T):** The track width of the landing gear, typically measured in meters (m).
- **Wheelbase (l_WB):** The wheelbase of the aircraft, typically measured in meters (m).
- **Wing Area (S_W):** The total wing area of the aircraft, typically measured in square meters (m²).
- **Taper ratio of Wing (λ_W):** The taper ratio of the wings, which is the ratio of the root chord to the tip chord.
- **1/4 Chord Sweep of Wing (φ_25,W):** The 1/4 chord sweep of the wings, typically measured in degrees (°).
- **Vertical Tail Area (S_V):** The total area of the vertical tail of the aircraft, typically measured in square meters (m²).
- **Height of Vertical Tail (b_V):** The height of the vertical tail, typically measured in meters (m).
- **Taper ratio of Vertical Tail (λ_V):** The taper ratio of the vertical tail.
- **1/4 Chord Sweep of Vertical Tail (φ_25,V):** The 1/4 chord sweep of the vertical tail, typically measured in degrees (°).
- **Horizontal Tail Area (S_H):** The total area of the horizontal tail of the aircraft, typically measured in square meters (m²).
- **Span of Horizontal Tail (b_H):** The span of the horizontal tail, typically measured in meters (m).
- **Taper Ratio of Horizontal Tail (λ_H):** The taper ratio of the horizontal tail.
- **1/4 Chord Sweep of Horizontal Tail (φ_25,H):** The 1/4 chord sweep of the horizontal tail, typically measured in degrees (°).
- **Cruise V_MO (kt):** The cruise speed limit in knots (kt).
- **Cruise M_MO (Mach):** The cruise speed limit in Mach.
- **Cruise Speed (M_CR):** The cruise speed of the aircraft, typically measured in Mach.
- **Max. Certified Flight Level (h_MCR):** The maximum certified flight level, typically measured in flight levels (FL).
- **Cruise Altitude (h_CR):** The cruise altitude of the aircraft, typically measured in flight levels (FL).
- **Fuel Unusable Fuel (l):** The amount of fuel considered unusable, typically measured in liters (l).
- **Optional Fuel (l):** The amount of optional fuel that can be carried, typically measured in liters (l).
- **Max usable fuel (l):** The maximum usable fuel capacity, typically measured in liters (l).
- **Range Max. Payload (R_MPL) (nm):** The maximum range with maximum payload, typically measured in nautical miles (nm).
- **Max. Pax (R_M.pax) (nm):** The maximum range with maximum passengers, typically measured in nautical miles (nm).
- **Max. Range (R_PLMR) (nm):** The maximum range of the aircraft, typically measured in nautical miles (nm).
- **Mass: Max. Ramp (m_MR) (MRM) (kg):** The maximum ramp weight of the aircraft, typically measured in kilograms (kg).
- **Mass: Max. Take-Off (m_MTO) (MTOM) (kg):** The maximum take-off weight of the aircraft, typically measured in kilograms (kg).
- **Mass: Max. Landing (m_ML) (MLM) (kg):** The maximum landing weight of the aircraft, typically measured in kilograms (kg).
- **Mass: Max. Zero Fuel (m_MZF) (MZFM) (kg):** The maximum zero fuel weight of the aircraft, typically measured in kilograms (kg).
- **Mass: Operating Empty (m_OE) (OEM) (MZFM-MPL) (kg):** The operating empty weight of the aircraft, typically measured in kilograms (kg).
- **Mass: Max. Payload (m_MPL) (MPL) (kg):** The maximum payload capacity of the aircraft, typically measured in kilograms (kg).
- **Mass: Payload at Max. Range (m_PLMR) (kg):** The payload capacity at maximum range, typically measured in kilograms (kg).
- **Cargo Volume (V_CARGO) (m³):** The volume of cargo space available, typically measured in cubic meters (m³).
- **Cargo Capacity:** Information about the cargo capacity of the aircraft.
- **Max Pallet Underfloor:** Maximum pallet capacity under the floor of the aircraft.
- **Seats Max:** Maximum number of seats available in the aircraft.
- **Std. Layout:** Information about the standard layout of seats in the aircraft.

### Aerodynamics:
- **Wingspan (b_W):** Main parameter. Used to calculate wing aspect ratio and lift distribution.
- **Wing Area (S_W):** Main parameter. Used to calculate wing loading and lift coefficient.
  - Taper ratio of Wing (λ_W): Sub-parameter. Affects lift distribution and aerodynamic efficiency.
  - 1/4 Chord Sweep of Wing (φ_25,W): Sub-parameter. Affects aerodynamic performance and stability.
- **Vertical Tail Area (S_V):** Main parameter. Used to calculate tail volume coefficient and stability.
  - Taper ratio of Vertical Tail (λ_V): Sub-parameter. Affects tail effectiveness and stability.
  - 1/4 Chord Sweep of Vertical Tail (φ_25,V): Sub-parameter. Affects tail performance and stability.
- **Horizontal Tail Area (S_H):** Main parameter. Used to calculate tail volume coefficient and stability.
  - Taper Ratio of Horizontal Tail (λ_H): Sub-parameter. Affects tail effectiveness and stability.
  - 1/4 Chord Sweep of Horizontal Tail (φ_25,H): Sub-parameter. Affects tail performance and stability.

### Flight Mechanics:
- **Max. Rated Takeoff Thrust (T_TO):** Main parameter. Used for thrust-to-weight ratio and takeoff performance.
- **Equivalent Power (P):** Main parameter. Used for power loading and climb performance.
- **Max. Certified Flight Level (h_MCR):** Main parameter. Defines maximum flight altitude.
- **Cruise Speed (M_CR):** Main parameter. Defines cruising speed.
- **Cruise Altitude (h_CR):** Main parameter. Defines cruising altitude.
- **Mass: Max. Take-Off (m_MTO) (MTOM) (kg):** Main parameter. Defines maximum takeoff weight.
- **Mass: Max. Landing (m_ML) (MLM) (kg):** Main parameter. Defines maximum landing weight.
- **Mass: Max. Zero Fuel (m_MZF) (MZFM) (kg):** Main parameter. Defines maximum zero fuel weight.
- **Mass: Operating Empty (m_OE) (OEM) (MZFM-MPL) (kg):** Main parameter. Defines operating empty weight.
- **Mass: Max. Payload (m_MPL) (MPL) (kg):** Main parameter. Defines maximum payload weight.
- **Range Max. Payload (R_MPL) (nm):** Main parameter. Defines maximum range with payload.

### Other Parameters:
- **Manufacturer:** Identification parameter.
- **Aircraft type:** Identification parameter.
- **Total number of operating A/C:** Operational parameter.
- **Option/Variant:** Configuration parameter.
- **Engine:** Identification parameter.
- **No. of Engines:** Configuration parameter.
- **Model:** Identification parameter.
- **Propeller:** Configuration parameter.
- **Cabin Length (l_CABIN):** Interior parameter.
- **Max. Height of Cabin (h_CABIN):** Interior parameter.
- **Max. Width of Cabin (d_F,I):** Interior parameter.
- **Passenger Compartment Volume (V_CABIN):** Interior parameter.
- **Fuselage Height (h_F):** Exterior parameter.
- **Fuselage Width (w_F):** Exterior parameter.
- **Total Length of Aircraft (l_A/C):** Exterior parameter.
- **Landing Gear Track (l_T):** Landing gear parameter.
- **Wheelbase (l_WB):** Landing gear parameter.
- **Fuel Unusable Fuel (l):** Fuel parameter.
- **Optional Fuel (l):** Fuel parameter.
- **Max usable fuel (l):** Fuel parameter.
- **Max. Pax (R_M.pax) (nm):** Passenger parameter.
- **Max. Range (R_PLMR) (nm):** Range parameter.
- **Mass: Max. Ramp (m_MR) (MRM) (kg):** Mass parameter.
- **Mass: Payload at Max. Range (m_PLMR) (kg):** Mass parameter.
- **Cargo Volume (V_CARGO) (m³):** Cargo parameter.
- **Cargo Capacity:** Cargo parameter.
- **Max Pallet Underfloor:** Cargo parameter.
- **Seats Max:** Passenger parameter.
- **Std. Layout:** Passenger parameter.

In [7]:
para_for_60_aircrafts = pd.read_excel('Datasets/The 50 Most Important Parameters of the 60 Most Used Passenger Aircraft_Dataset/Aircraft_Database.xlsx')
para_for_60_aircrafts = para_for_60_aircrafts.drop(['A/C'], axis=1)
para_for_60_aircrafts.drop(para_for_60_aircrafts.tail(3).index, inplace = True)
para_for_60_aircrafts.columns = para_for_60_aircrafts.iloc[0]
para_for_60_aircrafts = para_for_60_aircrafts[1:]
para_for_60_aircrafts

,Aircraft type,A220-300,A319ceo,A319neo,A320ceo,A320neo,A321ceo,A321neo,A330-200,A330-300,A330-900,A350-900,A350-1000,A380,AN-24,ATR 42,ATR 72,Jetstream 31/32,99,1900C,1900D,717-200,737-300,737-400,737-500,737-700,737-800,737-900,737-900ER,737-8,757-200,MD-80,MD-80,747-400,747-400,767-300,767-300,777-200,777-200,777-300ER,787-8,787-9,787-10,CRJ200,CRJ700,CRJ900,Dash 8 Q100,Dash 8 Q300,Dash 8 Q400,EMB 120,EMB145,EMB145,EMB145,170,175,190,195,Merlin,Metro,Fokker 50,Fokker 100,Saab 340,Superjet 100,Twin Otter
1,Total number of operating A/C,72,1243,0,4132,1009,1591,355,502,707,47,321,43,237,97,208,795,101,107,121,220,145,214,141,161,979,4788,556*,556*,347,302,232*,232*,123*,123*,365*,365*,391*,391*,805,363,540,58,601,291,471,152,157,462,127,479*,479*,479*,157,624,501,161,220*,220*,86,109,188,131,315
2,Option/Variant,-,-,-,-,-,-,-,A330-203,A330-303,A330-941,A350-941,A350-1041,A380-800,RV,42-500/-600,72-212A/-600,32,C99,-,-,HGW,-,-,-,-,-,-,-,-,-,MD-82/-88,MD-87,747-400,747-400ER,767-300,767-300ER,777-200,777-200ER,-,-,-,-,LR,ER,CL-6002D24,DHC-8-106,DHC-8-301,DHC-8-402,ER,ER,LR,XR,-,LR,-,AR,SA227-T,SA226-TC,F27 Mark 050,F28 Mark 0100,340B,SSJ100/95B,DHC-6 400
3,No. of Engines,2,2,2,2,2,2,2,2,2,2,2,2,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,Model,PW1521G,CFM56-5A5,LEAP-1A26,CFM56-5B4,LEAP-1A29,CFM56-5B1,LEAP-1A32,CF6-80E1A3,CF6-80E1A3,7000-72,XWB-84,XWB-97,970B-84,AI-24,PW127M,PW127M/N,TPE 331-12UHR,PT6A-36,PT6A-65B,PT6A-67D,BR700-715C1-30,CFM56-3B-2,CFM56-3C-1,CFM56-3B-1,CFM56-7B22,CFM56-7B22,CFM56-7B22,CFM56-7B22,LEAP-1B28,PW2040,JT8D-217,JT8D-217C,CF6-80C2B1F,CF6-80C2B5F,RB211-524H,RB211-524H,GE90-94B,GE90-94B,GE90-115BL1,GEnx-1B70,GEnx-1B70,GEnx-1B76,CF34-3B1,CF34-8C1,CF34-8C5,PW121,PW123,PW150A,PW118,AE3007 A1/1,AE3007 A1,AE3007 A1E,CF34-8E5,CF34-8E5,CF34-10E7,CF34-10E7,331-3U-303G,331-3UW-303G,PW125B,Tay 650-15,GE CT7-9B,SaM146,PT6A-34
5,"Max. Rated Takeoff Thrust, T_TO [kN]",97.73,104.53,120.64,120.1,130.29,133.44,143.05,304.84,304.84,323.98,374.5,431.5,348.31,-,-,-,-,-,-,-,95.33,98.3,104.5,89.4,100.97,100.97,100.97,100.97,130.41,181.93,92.7,92.7,254.26,267,269.56,269.56,432.81,432.21,513.95,"321,6 kN","321,6 kN","349,2 kN",41.01,61.34,64.54,-,-,-,-,33.71,33.71,39.67,64.54,64.54,90.57,90.57,-,-,-,67.17,-,71.6,-
6,"Equivalent Power, P [kW]",-,-,-,-,-,-,-,-,-,-,-,-,-,1875,1589,1820,750,526,820,954,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,1603,1775,3781,1342,-,-,-,-,-,-,-,618,701,1864,-,1395,-,462
7,Propeller,-,-,-,-,-,-,-,-,-,-,-,-,-,AV-72,568F,568F,R.333/4-82-F/12,HC-B3TN-3/T10173E-8,HC-B4MP-3A/M01877K,HC-E4A-3(x)/E10950,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,14SF-23,14SF-23,R408/6-123-F/17,14RF-9,-,-,-,-,-,-,-,HC-B3TN-5( )/T1028HDB-4R,HC-B3TN-5( )/T10282HB,R352/6-123-F/1,-,14 RF-19,-,HC-B3TN-3D/T10282N
8,"Length, l_CABIN [m]",27.5,23.78,23.78,27.51,27.51,34.44,34.44,45,50.36,50.36,51.04,58.03,49.9,9.69,NaN,NaN,7.39,NaN,7.7,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.42,17.25,21.13,9.16,12.5,18.8,9.38,NaN,NaN,NaN,19.44,21.34,25.91,32.05,3.25,7.75,NaN,21.19,10.4,20.42,5.64
9,"Max. Height, h_CABIN [m]",2.13,2.25,2.25,2.25,2.25,2.25,2.25,2.4,2.4,2.4,2.49,2.49,2.44,1.91,1.91,1.91,1.6,NaN,1.45,1.8,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.13,2.04,2.04,2.41,2.41,2.1,2.1,2.35,2.35,2.39,2.45,2.45,2.45,1.84,1.89,1.89,1.94,1.94,1.95,1.76,1.82,1.82,1.82,2,2,2,2,1.5,1.45,NaN,2.01,1.8,2.12,1.5
10,"Max. Width, d_F,I [m]",3.28,3.7,3.7,3.7,3.7,3.7,3.7,5.26,5.26,5.26,5.61,5.61,6.5,2.76,2.57,2.57,1.91,NaN,1.37,1.37,3.13,3.54,3.54,3.54,3.54,3.54,3.54,3.54,3.54,3.54,3.16,3.16,6.12,6.12,4.72,4.72,5.86,5.86,5.86,5.54,5.54,5.54,2.48,2.55,2.55,2.49,2.49,2.51,2.1,2.1,2.1,2.1,2.74,2.74,2.74,2.74,1.57,1.57,2.5,3.1,2.2,3.24,1.61
11,"Passenger Compartment Volume, V_CABIN [m³]",NaN,120,120,139,139,155,155,335,372,372,473.7,NaN,1305,NaN,NaN,NaN,17,NaN,15.29,18.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.81,84.21,NaN,NaN,77.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.11,NaN,NaN,33.4,NaN,10.9
12,"Height, h_F [m]",3.72,4.14,4.14,4.14,4.14,4.14,4.14,5.64,5.64,5.64,6.09,6.09,8.41,2.5,2.63,2.63,1.98,NaN,NaN,NaN,3.6,4.01,4.01,4.01,4.01,4.01,4.01,4.01,4.01,4.01,3.61,3.61,8.33,8.33,5.41,5.41,6.19,6.19,6.19,5.94,5.94,5.94,2.64,2.69,2.69,2.57,2.57,2.57,2.28,2.28,2.28,2.28,3.35,3.35,3.35,3.35,NaN,NaN,2.8,3.3,2.31,NaN,NaN
13,"Width, w_F [m]",3.51,3.95,3.95,3.95,3.95,3.95,3.95,5.64,5.64,5.64,5.96,5.96,7.14,2.9,2.87,2.87,1.98,NaN,NaN,NaN,3.34,3.76,3.76,3.76,3.76,3.76,3.76,3.76,3.76,3.76,3.35,3.35,6.5,6.5,5.03,5.03,6.19,6.19,6.19,5.77,5.77,5.77,2.69,2.69,2.69,2.69,2.69,2.96,2.28,2.28,2.28,2.28,3.01,3.01,3.01,3.01,NaN,NaN,2.7,3.3,2.31,NaN,NaN
14,"Length, l_A/C [m]",38.7,33.84,33.84,35.57,35.57,44.51,44.51,58.82,63.66,63.66,66.8,73.79,72.73,23.53,22.67,27.17,14.36,13.58,17.62,17.62,37.81,33.4,36.45,31.01,32.18,39.5,42.1,42.1,39.47,47.32,45.02,39.75,70.67,70.67,54.94,54.94,63.73,63.73,73.86,56.72,62.81,68.3,26.77,32.3,36.24,22.25,25.68,32.8,20,29.87,29.87,29.87,29.9,31.68,36.24,38.67,12.85,18.09,25.25,35.53,19.73,29.94,15.77
15,"Span, b_W [m]",35.1,35.8,35.8,35.8,35.8,35.8,35.8,60.3,60.3,64,64.75,64.75,79.75,29.2,24.57,27.05,15.85,13.98,17.64,17.64,28.45,28.88,28.88,28.88,35.79,35.79,35.79,35.79,35.92,38.02,32.85,32.85,64.44,64.44,47.57,47.57,60.93,60.93,64.8,60.12,60.12,60.12,21.23,23.25,23.24,25.91,27.43,28.4,19.78,20.04,20.04,21,26,28.65,28.72,28.72,14.1,14.1,29,28.08,22.7,27.8,19.81
16,"Height, h_A/C [m]",11.5,11.76,11.76,11.76,11.76,11.76,11.76,17.39,16.79,16.79,17.05,17.08,24.1,8.32,7.59,7.65,5.2,4.38,4.72,4.72,8.88,11.13,11.13,11.13,12.57,12.57,12.57,12.57,12.29,13.75,9,9.2,19.4,19.4,15.85,15.85,18.4,18.4,18.5,16.92,17.02,17.02,6.3,7.51,7.35,7.49,7.49,8.3,6.35,6.75,6.75,6.75,9.82,9.86,10.55,10.57,5.08,5.08,8.32,8.42,6.97,10.28,5.94
17,"Track, l_T [m]",6.73,7.59,7.59,7.59,7.59,7.59,7.59,10.68,10.68,10.68,10.6,10.73,5.26,7.9,4.1,4.1,5.94,NaN,NaN,NaN,4.9,5.23,5.23,5.23,5.72,5.72,5.72,5.72,5.72,7.32,5.08,5.08,"3,84 / 11","3,84 / 11",9.3,9.3,10.97,10.97,10.97,9.8,9.8,9.8,3.14,4.12,4.07,7.87,7.87,8.8,6.58,4.1,4.1,4.1,5.2,5.2,5.94,5.94,4.57,4.57,7.2,5.04,6.7,NaN,3.7
18,"Wheelbase, l_WB [m]",15.31,11.04,11.04,12.64,12.64,16.91,16.91,22.18,25.38,25.38,28.66,32.48,36.85,7.89,8.78,10.77,4.6,NaN,NaN,NaN,17.6,12.45,14.27,11.07,12.6,15.6,17.17,17.17,15.6,18.29,22.05,19.18,25.6,25.6,22.76,22.76,25.88,25.88,31.22,22.78,25.83,28.88,11.4,15.01,17.3,7.95,10,13.99,6.98,14.44,14.44,14.44,10.6,11.4,13.83,14.64,3.38,5.83,8.1,14.01,7.14,NaN,4.53
19,"Area, S_W [m²]",112.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,845,74.98,54.5,61,25.08,25.98,NaN,NaN,92.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.8,427.8,NaN,NaN,NaN,NaN,54.54,70.61,71.07,54.35,56.1,63.1,39.43,51.18,51.18,51.18,72.72,72.72,92.5,92.5,25.78,25.78,70,NaN,43.11,NaN,39.02
20,"Taper ratio, λ_W",0.26,0.25,0.270181,0.25,0.270181,0.25,0.270181,0.235,0.235,0.17,0.16,0.16,0.225,0.34,NaN,0.465,0.33,NaN,0.37,NaN,0.270833,0.25,0.25,0.25,0.22,0.22,0.22,0.22,0.24,0.23,0.24,0.24,0.25,0.25,0.21,0.21,0.16,0.16,0.14,0.195,0.21,0.21,0.32,0.26,0.25,0.511811,0.464567,0.38,0.545,0.25,0.25,0.25,0.285,0.285,0.27,0.275,0.395,0.395,0.4,0.29,0.365,0.255,1
21,"1/4 Chord Sweep, φ_25,W [°]",26,23.5,23.5,23.5,23.5,23.5,23.5,28.5,28.5,29,32,32,33.5,4.5,NaN,3.5,0.7,NaN,1.6,NaN,24,26,26,26,26,26,26,26,26.5,23.5,24,24,38,38,30.5,30.5,30,30,30,31,31,31,24.5,26.5,26,2.4,2.9,3.1,3.5,21.5,21.5,21.5,22.5,22.5,25,22.5,0.9,0.9,1.5,17.5,4.5,25,0
22,"Area, S_V [m²]",28.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122,NaN,12.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.09,11.09,NaN,NaN,NaN,6.9,7.2,7.2,7.2,16.2,16.2,16.2,16.2,NaN,NaN,NaN,NaN,10.4,NaN,4.46
23,"Height, b_V [m]",6,5.87,5.87,5.87,5.87,5.87,5.87,8.8,8.3,8.3,9.42,9.42,14.59,4.93,4.53,4.43,3.2,NaN,NaN,NaN,4.75,6.38,6.38,6.38,7.73,7.72,7.66,7.66,7.73,8.01,4.59,4.59,9.89,9.89,9.52,9.52,10.74,10.74,10.26,9.83,9.55,9.63,3.46,3.61,3.28,4.04,4.04,4.73,3.21,3.34,3.34,3.34,5.53,5.53,5.47,5.47,2.93,2.93,4.6,4.08,3.74,5.47,3.9
24,"Taper ratio, λ_V",0.35,0.33,0.33,0.33,0.33,0.33,0.33,0.36,0.4,0.4,0.39,0.39,0.39,0.445,NaN,0.65,0.295,NaN,NaN,NaN,0.74,0.42,0.42,0.42,0.22,0.23,0.22,0.22,0.27,0.37,0.71,0.71,0.34,0.34,0.31,0.31,0.285,0.285,0.275,0.31,0.285,0.3,0.67,0.67,0.66,0.735,0.74,0.745,0.62,0.62,0.62,0.62,0.315,0.315,0.305,0.305,0.27,0.27,0.385,0.705,0.38,0.305,0.51
25,"1/4 Chord Sweep, φ_25,V [°]",35.5,35,35,35,35,35,35,39,39,43.5,40,40,40,20,NaN,29,40,NaN,NaN,NaN,43,35,35,35,30,30,30,30,33.5,39,40,40,44,44,38.5,38.5,37.5,37.5,36,39,39,39.5,42,39,38.5,29,29,40,33,30.5,30.5,30.5,34,34,37,34.5,26,26,17,37.5,32,33.5,24
26,"Area, S_H [m²]",36.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205,NaN,11.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.91,15.91,NaN,NaN,NaN,10,11.2,11.2,11.2,23.25,23.25,26,26,NaN,NaN,NaN,NaN,14.57,NaN,9.29
27,"Span, b_H [m]",12.26,12.45,12.45,12.45,12.45,12.45,12.45,19.4,19.4,19.4,18.79,18.79,30.37,9.08,7.31,7.31,6.6,NaN,5.61,NaN,11.2,12.7,12.7,12.7,14.35,14.35,14.35,14.35,14.35,15.21,12.25,12.25,22.17,22.17,18.62,18.62,21.53,21.53,21.53,19.81,19.81,19.81,6.2,8.54,8.54,7.93,7.92,9.27,6.94,7.55,7.55,7.55,10,10,12.08,12.08,4.48,4.48,9.75,10.04,9.24,10,6.29
28,"Taper Ratio, λ_H",0.375,0.375,0.375,0.375,0.375,0.375,0.375,0.4,0.425,0.4,0.395,0.395,0.38,0.405,NaN,0.525,0.41,NaN,0.54,NaN,0.37,0.52,0.52,0.52,0.33,0.33,0.33,0.33,0.2,0.36,0.37,0.37,0.26,0.26,0.26,0.26,0.38,0.38,0.36,0.265,0.265,0.29,0.46,0.42,0.47,0.74,0.74,0.71,0.67,0.6,0.6,0.58,0.37,0.37,0.26,0.275,0.47,0.47,0.36,0.41,0.4,0.27,0
29,"1/4 Chord Sweep, φ_25,H [°]",30.5,28,28,28,23.5,23.5,23.5,29,29.5,29,33.5,33.5,33.5,17,NaN,5.5,7.12,NaN,17.6,NaN,31,29,29,29,32,32,32,32,30,31,31,31,37,37,31,31,32.5,32.5,33,36.5,36.5,33.5,31,29,28.5,6.6,5.7,5.5,17,19.5,19.5,17,28.5,28.5,32,29.5,36.5,36.5,6,25.5,5,30,1
30,V_MO [kt],489,488,488,488,488,488,488,573,573,573,593,593,593,291,300,275,250,282,297,301,492,492,492,492,492,492,492,492,492,513,500,492,550,550,516,516,522,522,534,539,539,539,507,507,507,297,313,372,327,471,471,471,444,444,547,547,380,308,305,462,283,488,187
31,M_MO [Mach],0.82,0.82,0.82,0.82,0.82,0.82,0.82,0.86,0.86,0.86,0.89,0.89,0.89,NaN,0.55,0.55,-,0.45,0.47,0.48,0.82,0.82,0.82,0.82,0.82,0.82,0.82,0.82,0.82,0.86,0.84,0.82,0.92,0.92,0.86,0.86,0.87,0.87,0.89,0.9,0.9,0.9,0.85,0.85,0.85,0.47,0.5,0.6,0.52,0.78,0.78,0.78,0.82,0.82,0.82,0.82,0.63,0.5,0.507,0.77,0.47,0.81,0.29
32,"Cruise Speed, M_CR [Mach]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.85,0.35,NaN,NaN,210,NaN,0.37,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,0.85,0.85,0.8,0.8,0.84,0.84,0.84,0.85,0.85,0.85,0.8,0.7,0.7,NaN,NaN,NaN,NaN,0.78,0.78,0.78,0.78,0.78,0.78,0.78,0.45,0.4,0.45,NaN,NaN,0.78,NaN
33,"Max. Certified Flight Level, h_MCR [FL]",410,410,410,410,410,410,410,414.5,414.5,414.5,431,414.5,430,295,250,250,250,250,250,250,370,370,370,370,410,410,410,410,410,420,370,370,451,451,431,431,431,431,431,431,431,431,410,410,410,250,250,250,320,370,370,370,410,410,410,410,310,310,250,350,250,400,250
34,"Cruise Altitude, h_CR [FL]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250,200,NaN,350,350,350,NaN,NaN,NaN,NaN,NaN,390,350,350,NaN,NaN,390,390,NaN,NaN,NaN,NaN,NaN,NaN,370,NaN,NaN,NaN,NaN,NaN,250,370,370,370,350,350,370,370,260,200,NaN,NaN,190,NaN,100
35,Unusable Fuel [l],125,82,82,82,82,46,46,279,279,279,NaN,NaN,1086,NaN,26,37,18,20,34,40,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,396.7,276.9,276.9,54,87,128,103,103,89,28,54,44,56,100,87,NaN,NaN,102,NaN,NaN,94,60,NaN,14
36,Optional Fuel [l],-,8250,8248,8250,8250,8200,8200,41560,41560,-,25693,-,-,-,-,-,-,-,-,-,-,3785,3785,3785,-,-,-,3641,-,-,4278,4339,-,-,-,-,-,-,-,-,-,-,-,-,-,2598,2598,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,NaN,337
37,Max usable fuel [l],21381,15609,15477,15609,15609,15500,15380,139090,139090,139090,140795,158791,324339,4940,5700,6360,1846,1412,2525,2517,14758,23827,23827,23827,26022,26022,26022,29666,25817,42680,22129,22126,215991,240196,63216,91380,117300,171100,181283,126206,126356,126356,8082,10989,10861,5703,5703,6526,3312,5146,6396,7438,11625,11625,16029,16029,2468,2452,5136,13365,3220,15805,1446
38,"Max. Payload, R_MPL [nm]",2000,2500,2700,2100,2450,2300,3050,4700,4200,4800,5800,5600,6600,530,NaN,NaN,NaN,NaN,NaN,133,1200,1900,1700,1800,2150,2000,2000,1700,2650,2450,1170,1400,5700,6200,2300,4100,3300,5800,5700,5500,5250,4300,1130,1230,1320,640,370,750,310,950,1150,1790,1320,1260,1800,1470,NaN,NaN,600,1370,330,NaN,NaN
39,"Max. Pax, R_M,pax [nm]",3100,3000,3500,2850,3150,2950,3600,7200,6150,6850,8000,8300,8000,NaN,703,758,NaN,NaN,1200,382,2050,2800,2650,2950,3700,3400,2850,3800,3700,4150,2050,2400,7150,7950,3900,6100,5000,7800,6400,7800,8100,6700,1830,1980,1986,900,1300,1430,850,1210,1670,2000,2000,1900,2100,1970,1938,NaN,920,1590,470,1645,NaN
40,"Max. Range, R_PLMR [nm]",3350,3950,4300,3300,4000,2900,3500,5300,4800,5500,8600,8500,8800,1080,NaN,NaN,NaN,911,NaN,NaN,2000,2750,2500,2900,3350,4050,2800,4250,3450,3800,2040,2380,7100,7900,4300,6400,6450,8650,7850,9500,8250,8100,2070,2280,1980,2580,2100,1530,1520,1200,1640,1950,2000,1900,2320,2290,NaN,87,1720,1720,1220,NaN,702
41,"Max. Ramp, m_MR (MRM) [kg]",71300,75900,75900,78400,79400,93900,97400,242900,242900,251900,280900,319900,577000,NaN,18770,23170,7400,5162,8033,7814,55338,63503,68266,61915,70307,79333,79243,85366,82871,116119,68266,63957,397801,414130,159665,187334,248115,298463,352442,228383,254692,254692,21319,34133,38555,16556,19595,29665,12070,20700,22100,24200,38760,38950,51960,52450,5697,5697,20865,46040,13740,NaN,5670
42,"Max. Take-Off, m_MTO (MTOM) [kg]",70900,75500,75500,78000,79000,93500,97000,242000,242000,251000,280000,319000,575000,21800,18600,23000,7350,5126,7983,7764,54884,63276,68039,61689,70080,79016,79016,85139,82645,115893,67812,63503,396894,412770,158758,186880,247207,297556,351535,227930,254011,254011,24041,34019,38329,16566,19505,29574,11990,20600,22000,24100,38600,38790,51800,52290,5670,5670,20820,45810,13605,45880,5670
43,"Max. Landing, m_ML (MLM) [kg]",58800,62500,63900,66000,67400,77800,79200,182000,187000,191000,207000,236000,394000,NaN,18300,22350,7080,5126,7584,7603,49898,52889,56245,49895,58604,66361,66814,71350,69308,95254,58567,58060,285764,302093,136078,145150,201848,213188,251290,172365,192776,201848,21319,30391,33340,15377,19051,28123,11700,18700,19300,20000,33300,34000,44000,45800,5217,5670,20030,39915,12930,41000,5579
44,"Max. Zero Fuel, m_MZF (MZFM) [kg]",55800,58500,60300,62500,64300,73800,75600,170000,175000,181000,1957000,223000,369000,20300,17000,21000,6736,NaN,6804,7120,45586,49714,53070,46720,55202,62732,63639,67721,65952,90718,55338,50802,256280,277145,126099,133810,190508,200487,237683,161025,181436,192776,19958,28260,32092,14515,17920,26308,10900,17100,17900,18500,30900,31700,40900,42600,4535,5670,18900,36740,12020,40000,NaN
45,"Operating Empty, m_OE (OEM) (MZFM-MPL) [kg]",43500,35400,39600,43500,45800,47500,46600,124000,129000,135000,1903000,156000,285000,14800,11550,13010,5098,2946,4702,4932,31071,32904,33643,31311,37648,41413,42901,44677,40823,54431,35369,33236,182753,164382,86069,90011,135850,138100,167829,117934,127005,136077,13835,20070,21845,10350,11630,17819,7628,11947,12114,12591,21160,21500,27900,28700,3356,3345,13400,24747,8620,NaN,3377
46,"Max. Payload, m_MPL (MPL) [kg]",12300,23100,20700,19000,18500,26300,29000,46000,46000,46000,54000,67000,84000,5500,5300,7550,1638,NaN,2102,2189,14515,16148,19881,15182,17554,21319,20738,23045,25129,36287,19969,17566,73527,112763,40230,43799,54620,56940,69853,43091,54431,56699,6124,8190,10247,4165,6290,8489,3272,5153,5786,5909,9740,10200,13000,13900,1179,2325,5500,11993,3400,NaN,NaN
47,"Payload at Max. Range, m_PLMR [kg]",6350,9800,11000,13000,12000,20000,22000,42000,42000,42000,25000,33000,35000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10500,11000,15000,10000,11500,10500,15000,10500,21000,26500,14500,13000,40000,55500,20500,21000,17500,22000,44000,9000,25000,16500,4300,5580,7800,700,3100,6500,1780,4600,4800,5050,7000,7850,9300,9000,NaN,1778,3300,9200,2450,NaN,1030
48,"Volume, V_CARGO [m³]",27.46,27.66,27.66,37.42,37.42,51.72,51.72,132.4,158.4,158.4,170.22,206.02,175.2,NaN,NaN,NaN,0.45,NaN,3.5,4.96,20.7,30.2,38.9,23.3,27.4,44.1,52,51.7,43.6,51,35.5,26.6,182.2,151.1,114.1,114.1,160.3,160.3,213.8,136.7,172.4,190.3,8.89,12.39,12.39,8.48,9.1,14.22,NaN,9.2,9.2,9.2,14.39,17.12,22.63,25.4,2.41,5.13,5.51,18.02,11,21.76,3.57
49,Cargo Capacity,-,4 ULD,4 ULD,7 LD3-45W,7 LD3-45W,10 LD-3-45W,10 LD-3-45W,27 LD-3,33 LD-3,33 LD-3,36 LD-3,44 LD-3,38 LD3,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,32 LD1,26 LD1,30 LD-2,30 LD-2,32 LD-3,32 LD-3,44 LD-3,28 LD-3,36 LD-3,40 LD-3,-,-,-,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
50,Max. Pallet Underfloor,-,-,-,7,7,10,10,8,11,11,11,14,13,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,4,4,10,10,14,9,11,13,-,-,-,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
51,"Max. Seats, n_M,SEAT",149,160,160,180,194,220,244,406,440,440,440,480,868,52,60,74,19,15,19,19,134,149,189,149,148,184,189,215,189,239,172,139,660,660,290,290,440,440,550,381,406,440,50,78,90,40,56,90,30,50,50,50,80,88,114,124,11,22,62,109,37,108,19
52,"Std. Layout, n_SEAT",140,156,156,170,180,210,220,247,300,310,325,366,573,48,48,72,19,15,19,19,106,134,159,122,128,160,177,186,180,186,155,130,420,400,269,269,375,375,442,242,290,330,50,70,86,37,50,74,30,50,50,50,70,78,108,108,6,19,50,100,34,98,19

In [8]:
print(f"Shape: {para_for_60_aircrafts.shape}")
para_for_60_aircrafts.info()

Shape: (52, 64)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 1 to 52
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Aircraft type    52 non-null     object
 1   A220-300         49 non-null     object
 2   A319ceo          47 non-null     object
 3   A319neo          47 non-null     object
 4   A320ceo          47 non-null     object
 5   A320neo          47 non-null     object
 6   A321ceo          47 non-null     object
 7   A321neo          47 non-null     object
 8   A330-200         47 non-null     object
 9   A330-300         47 non-null     object
 10  A330-900         47 non-null     object
 11  A350-900         46 non-null     object
 12  A350-1000        45 non-null     object
 13  A380             51 non-null     object
 14  AN-24            41 non-null     object
 15  ATR 42           38 non-null     object
 16  ATR 72           42 non-null     object
 17  Jetstream 31/32  45 non-null     object
 18  99               26 non-null     object
 19  1900C            39 non-null     object
 20  1900D            35 non-null     object
 21  717-200          46 non-null     object
 22  737-300          45 non-null     object
 23  737-400          45 non-null     object
 24  737-500          45 non-null     object
 25  737-700          44 non-null     object
 26  737-800          44 non-null     object
 27  737-900          44 non-null     object
 28  737-900ER        44 non-null     object
 29  737-8            44 non-null     object
 30  757-200          46 non-null     object
 31  MD-80            46 non-null     object
 32  MD-80            46 non-null     object
 33  747-400          45 non-null     object
 34  747-400          45 non-null     object
 35  767-300          46 non-null     object
 36  767-300          46 non-null     object
 37  777-200          46 non-null     object
 38  777-200          46 non-null     object
 39  777-300ER        45 non-null     object
 40  787-8            46 non-null     object
 41  787-9            46 non-null     object
 42  787-10           46 non-null     object
 43  CRJ200           49 non-null     object
 44  CRJ700           51 non-null     object
 45  CRJ900           51 non-null     object
 46  Dash 8 Q100      45 non-null     object
 47  Dash 8 Q300      45 non-null     object
 48  Dash 8 Q400      45 non-null     object
 49  EMB 120          49 non-null     object
 50  EMB145           50 non-null     object
 51  EMB145           50 non-null     object
 52  EMB145           50 non-null     object
 53  170              51 non-null     object
 54  175              51 non-null     object
 55  190              50 non-null     object
 56  195              50 non-null     object
 57  Merlin           44 non-null     object
 58  Metro            45 non-null     object
 59  Fokker 50        45 non-null     object
 60  Fokker 100       46 non-null     object
 61  Saab 340         51 non-null     object
 62  Superjet 100     35 non-null     object
 63  Twin Otter       45 non-null     object
dtypes: object(64)
memory usage: 26.1+ KB

In [9]:
para_for_60_aircrafts = para_for_60_aircrafts.transpose()
para_for_60_aircrafts.columns = para_for_60_aircrafts.iloc[0]
para_for_60_aircrafts = para_for_60_aircrafts[1:]
para_for_60_aircrafts

Aircraft type,Total number of operating A/C,Option/Variant,No. of Engines,Model,"Max. Rated Takeoff Thrust, T_TO [kN]","Equivalent Power, P [kW]",Propeller,"Length, l_CABIN [m]","Max. Height, h_CABIN [m]","Max. Width, d_F,I [m]","Passenger Compartment Volume, V_CABIN [m³]","Height, h_F [m]","Width, w_F [m]","Length, l_A/C [m]","Span, b_W [m]","Height, h_A/C [m]","Track, l_T [m]","Wheelbase, l_WB [m]","Area, S_W [m²]","Taper ratio, λ_W","1/4 Chord Sweep, φ_25,W [°]","Area, S_V [m²]","Height, b_V [m]","Taper ratio, λ_V","1/4 Chord Sweep, φ_25,V [°]","Area, S_H [m²]","Span, b_H [m]","Taper Ratio, λ_H","1/4 Chord Sweep, φ_25,H [°]",V_MO [kt],M_MO [Mach],"Cruise Speed, M_CR [Mach]","Max. Certified Flight Level, h_MCR [FL]","Cruise Altitude, h_CR [FL]",Unusable Fuel [l],Optional Fuel [l],Max usable fuel [l],"Max. Payload, R_MPL [nm]","Max. Pax, R_M,pax [nm]","Max. Range, R_PLMR [nm]","Max. Ramp, m_MR (MRM) [kg]","Max. Take-Off, m_MTO (MTOM) [kg]","Max. Landing, m_ML (MLM) [kg]","Max. Zero Fuel, m_MZF (MZFM) [kg]","Operating Empty, m_OE (OEM) (MZFM-MPL) [kg]","Max. Payload, m_MPL (MPL) [kg]","Payload at Max. Range, m_PLMR [kg]","Volume, V_CARGO [m³]",Cargo Capacity,Max. Pallet Underfloor,"Max. Seats, n_M,SEAT","Std. Layout, n_SEAT"
0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A220-300,72,-,2,PW1521G,97.73,-,-,27.5,2.13,3.28,NaN,3.72,3.51,38.7,35.1,11.5,6.73,15.31,112.3,0.26,26,28.2,6,0.35,35.5,36.6,12.26,0.375,30.5,489,0.82,NaN,410,NaN,125,-,21381,2000,3100,3350,71300,70900,58800,55800,43500,12300,6350,27.46,-,-,149,140
A319ceo,1243,-,2,CFM56-5A5,104.53,-,-,23.78,2.25,3.7,120,4.14,3.95,33.84,35.8,11.76,7.59,11.04,NaN,0.25,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,28,488,0.82,NaN,410,NaN,82,8250,15609,2500,3000,3950,75900,75500,62500,58500,35400,23100,9800,27.66,4 ULD,-,160,156
A319neo,0,-,2,LEAP-1A26,120.64,-,-,23.78,2.25,3.7,120,4.14,3.95,33.84,35.8,11.76,7.59,11.04,NaN,0.270181,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,28,488,0.82,NaN,410,NaN,82,8248,15477,2700,3500,4300,75900,75500,63900,60300,39600,20700,11000,27.66,4 ULD,-,160,156
A320ceo,4132,-,2,CFM56-5B4,120.1,-,-,27.51,2.25,3.7,139,4.14,3.95,35.57,35.8,11.76,7.59,12.64,NaN,0.25,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,28,488,0.82,NaN,410,NaN,82,8250,15609,2100,2850,3300,78400,78000,66000,62500,43500,19000,13000,37.42,7 LD3-45W,7,180,170
A320neo,1009,-,2,LEAP-1A29,130.29,-,-,27.51,2.25,3.7,139,4.14,3.95,35.57,35.8,11.76,7.59,12.64,NaN,0.270181,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,23.5,488,0.82,NaN,410,NaN,82,8250,15609,2450,3150,4000,79400,79000,67400,64300,45800,18500,12000,37.42,7 LD3-45W,7,194,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fokker 50,86,F27 Mark 050,2,PW125B,-,1864,R352/6-123-F/1,NaN,NaN,2.5,NaN,2.8,2.7,25.25,29,8.32,7.2,8.1,70,0.4,1.5,NaN,4.6,0.385,17,NaN,9.75,0.36,6,305,0.507,0.45,250,NaN,NaN,-,5136,600,920,1720,20865,20820,20030,18900,13400,5500,3300,5.51,-,-,62,50
Fokker 100,109,F28 Mark 0100,2,Tay 650-15,67.17,-,-,21.19,2.01,3.1,NaN,3.3,3.3,35.53,28.08,8.42,5.04,14.01,NaN,0.29,17.5,NaN,4.08,0.705,37.5,NaN,10.04,0.41,25.5,462,0.77,NaN,350,NaN,94,-,13365,1370,1590,1720,46040,45810,39915,36740,24747,11993,9200,18.02,-,-,109,100
Saab 340,188,340B,2,GE CT7-9B,-,1395,14 RF-19,10.4,1.8,2.2,33.4,2.31,2.31,19.73,22.7,6.97,6.7,7.14,43.11,0.365,4.5,10.4,3.74,0.38,32,14.57,9.24,0.4,5,283,0.47,NaN,250,190,60,-,3220,330,470,1220,13740,13605,12930,12020,8620,3400,2450,11,-,-,37,34
Superjet 100,131,SSJ100/95B,2,SaM146,71.6,-,-,20.42,2.12,3.24,NaN,NaN,NaN,29.94,27.8,10.28,NaN,NaN,NaN,0.255,25,NaN,5.47,0.305,33.5,NaN,10,0.27,30,488,0.81,0.78,400,NaN,NaN,NaN,15805,NaN,1645,NaN,NaN,45880,41000,40000,NaN,NaN,NaN,21.76,-,-,108,98
Twin Otter,315,DHC-6 400,2,PT6A-34,-,462,HC-B3TN-3D/T10282N,5.64,1.5,1.61,10.9,NaN,NaN,15.77,19.81,5.94,3.7,4.53,39.02,1,0,4.46,3.9,0.51,24,9.29,6.29,0,1,187,0.29,NaN,250,100,14,337,1446,NaN,NaN,702,5670,5670,5579,NaN,3377,NaN,1030,3.57,-,-,19,19

In [11]:
import pandas as pd

# Create a dictionary to map the old column names to the new ones with dashes instead of spaces
column_mapping = {
    'Total number of operating A/C': 'Operating_Aircraft_Count',
    'Option/Variant': 'Option_Variant',
    'No. of Engines': 'Total_Engines',
    'Model': 'Model',
    'Max. Rated Takeoff Thrust, T_TO [kN]': 'Max_Takeoff_Thrust',
    'Equivalent Power, P [kW]': 'Equivalent_Power',
    'Propeller': 'Propeller_Type',
    'Length, l_CABIN [m]': 'Cabin_Length',
    'Max. Height, h_CABIN [m]': 'Max_Cabin_Height',
    'Max. Width, d_F,I [m]': 'Max_Cabin_Width',
    'Passenger Compartment Volume, V_CABIN [m³]': 'Passenger_Compartment_Volume',
    'Height, h_F [m]': 'Fuselage_Height',
    'Width, w_F [m]': 'Fuselage_Width',
    'Length, l_A/C [m]': 'Aircraft_Length',
    'Span, b_W [m]': 'Wing_Span',
    'Height, h_A/C [m]': 'Aircraft_Height',
    'Track, l_T [m]': 'Wheel_Track',
    'Wheelbase, l_WB [m]': 'Wheelbase',
    'Area, S_W [m²]': 'Wing_Area',
    'Taper ratio, λ_W': 'Wing_Taper_Ratio',
    '1/4 Chord Sweep, φ_25,W [°]': '1/4_Wing_Sweep',
    'Area, S_V [m²]': 'Area_S_V_[m²]',
    'Height, b_V [m]': 'Height_b_V_[m]',
    'Taper ratio, λ_V': 'Taper_ratio_λ_V',
    '1/4 Chord Sweep, φ_25,V [°]': '1/4_Chord_Sweep_φ_25,V_[°]',
    'Area, S_H [m²]': 'Area_S_H',
    'Span, b_H [m]': 'Span_b_H',
    'Taper Ratio, λ_H': 'Taper_Ratio_λ_H',
    '1/4 Chord Sweep, φ_25,H [°]': '1/4_Chord_Sweep_φ_25',
    'V_MO [kt]': 'V_MO',
    'M_MO [Mach]': 'M_MO',
    'Cruise Speed, M_CR [Mach]': 'Cruise_Speed',
    'Max. Certified Flight Level, h_MCR [FL]': 'Max_Certified_Flight_Level',
    'Cruise Altitude, h_CR [FL]': 'Cruise_Altitude',
    'Unusable Fuel [l]': 'Unusable_Fuel',
    'Optional Fuel [l]': 'Optional_Fuel',
    'Max usable fuel [l]': 'Max_Usable_Fuel',
    'Max. Payload, R_MPL [nm]': 'Max_Payload',
    'Max. Pax, R_M,pax [nm]': 'Max_Pax_R_M',
    'Max. Range, R_PLMR [nm]': 'Max_Range_R_PLMR',
    'Max. Ramp, m_MR (MRM) [kg]': 'Max_Ramp_m_MR',
    'Max. Take_Off, m_MTO (MTOM) [kg]': 'Max_Take_Off_m_MTO',
    'Max. Landing, m_ML (MLM) [kg]': 'Max_Landing_m_ML',
    'Max. Zero Fuel, m_MZF (MZFM) [kg]': 'Max_Zero_Fuel',
    'Operating Empty, m_OE (OEM) (MZFM_MPL) [kg]': 'Operating_Empty_m_OE',
    'Max. Payload, m_MPL (MPL) [kg]': 'Max_Payload_m_MPL',
    'Payload at Max. Range, m_PLMR [kg]': 'Payload_at_Max_Range_m_PLMR',
    'Volume, V_CARGO [m³]': 'Volume_V_CARGO',
    'Cargo Capacity': 'Cargo_Capacity',
    'Max. Pallet Underfloor': 'Max_Pallet_Underfloor',
    'Max. Seats, n_M,SEAT': 'Max_Seats_n_M,SEAT',
    'Std. Layout, n_SEAT': 'Std_Layout_n_SEAT',

    # Add other columns as necessary
}

# Rename the columns
para_for_60_aircrafts.rename(columns=column_mapping, inplace=True)
para_for_60_aircrafts

Aircraft type,Operating_Aircraft_Count,Option_Variant,Total_Engines,Model,Max_Takeoff_Thrust,Equivalent_Power,Propeller_Type,Cabin_Length,Max_Cabin_Height,Max_Cabin_Width,Passenger_Compartment_Volume,Fuselage_Height,Fuselage_Width,Aircraft_Length,Wing_Span,Aircraft_Height,Wheel_Track,Wheelbase,Wing_Area,Wing_Taper_Ratio,1/4_Wing_Sweep,Area_S_V_[m²],Height_b_V_[m],Taper_ratio_λ_V,"1/4_Chord_Sweep_φ_25,V_[°]",Area_S_H,Span_b_H,Taper_Ratio_λ_H,1/4_Chord_Sweep_φ_25,V_MO,M_MO,Cruise_Speed,Max_Certified_Flight_Level,Cruise_Altitude,Unusable_Fuel,Optional_Fuel,Max_Usable_Fuel,Max_Payload,Max_Pax_R_M,Max_Range_R_PLMR,Max_Ramp_m_MR,"Max. Take-Off, m_MTO (MTOM) [kg]",Max_Landing_m_ML,Max_Zero_Fuel,"Operating Empty, m_OE (OEM) (MZFM-MPL) [kg]",Max_Payload_m_MPL,Payload_at_Max_Range_m_PLMR,Volume_V_CARGO,Cargo_Capacity,Max_Pallet_Underfloor,"Max_Seats_n_M,SEAT",Std_Layout_n_SEAT
0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A220-300,72,-,2,PW1521G,97.73,-,-,27.5,2.13,3.28,NaN,3.72,3.51,38.7,35.1,11.5,6.73,15.31,112.3,0.26,26,28.2,6,0.35,35.5,36.6,12.26,0.375,30.5,489,0.82,NaN,410,NaN,125,-,21381,2000,3100,3350,71300,70900,58800,55800,43500,12300,6350,27.46,-,-,149,140
A319ceo,1243,-,2,CFM56-5A5,104.53,-,-,23.78,2.25,3.7,120,4.14,3.95,33.84,35.8,11.76,7.59,11.04,NaN,0.25,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,28,488,0.82,NaN,410,NaN,82,8250,15609,2500,3000,3950,75900,75500,62500,58500,35400,23100,9800,27.66,4 ULD,-,160,156
A319neo,0,-,2,LEAP-1A26,120.64,-,-,23.78,2.25,3.7,120,4.14,3.95,33.84,35.8,11.76,7.59,11.04,NaN,0.270181,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,28,488,0.82,NaN,410,NaN,82,8248,15477,2700,3500,4300,75900,75500,63900,60300,39600,20700,11000,27.66,4 ULD,-,160,156
A320ceo,4132,-,2,CFM56-5B4,120.1,-,-,27.51,2.25,3.7,139,4.14,3.95,35.57,35.8,11.76,7.59,12.64,NaN,0.25,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,28,488,0.82,NaN,410,NaN,82,8250,15609,2100,2850,3300,78400,78000,66000,62500,43500,19000,13000,37.42,7 LD3-45W,7,180,170
A320neo,1009,-,2,LEAP-1A29,130.29,-,-,27.51,2.25,3.7,139,4.14,3.95,35.57,35.8,11.76,7.59,12.64,NaN,0.270181,23.5,NaN,5.87,0.33,35,NaN,12.45,0.375,23.5,488,0.82,NaN,410,NaN,82,8250,15609,2450,3150,4000,79400,79000,67400,64300,45800,18500,12000,37.42,7 LD3-45W,7,194,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fokker 50,86,F27 Mark 050,2,PW125B,-,1864,R352/6-123-F/1,NaN,NaN,2.5,NaN,2.8,2.7,25.25,29,8.32,7.2,8.1,70,0.4,1.5,NaN,4.6,0.385,17,NaN,9.75,0.36,6,305,0.507,0.45,250,NaN,NaN,-,5136,600,920,1720,20865,20820,20030,18900,13400,5500,3300,5.51,-,-,62,50
Fokker 100,109,F28 Mark 0100,2,Tay 650-15,67.17,-,-,21.19,2.01,3.1,NaN,3.3,3.3,35.53,28.08,8.42,5.04,14.01,NaN,0.29,17.5,NaN,4.08,0.705,37.5,NaN,10.04,0.41,25.5,462,0.77,NaN,350,NaN,94,-,13365,1370,1590,1720,46040,45810,39915,36740,24747,11993,9200,18.02,-,-,109,100
Saab 340,188,340B,2,GE CT7-9B,-,1395,14 RF-19,10.4,1.8,2.2,33.4,2.31,2.31,19.73,22.7,6.97,6.7,7.14,43.11,0.365,4.5,10.4,3.74,0.38,32,14.57,9.24,0.4,5,283,0.47,NaN,250,190,60,-,3220,330,470,1220,13740,13605,12930,12020,8620,3400,2450,11,-,-,37,34
Superjet 100,131,SSJ100/95B,2,SaM146,71.6,-,-,20.42,2.12,3.24,NaN,NaN,NaN,29.94,27.8,10.28,NaN,NaN,NaN,0.255,25,NaN,5.47,0.305,33.5,NaN,10,0.27,30,488,0.81,0.78,400,NaN,NaN,NaN,15805,NaN,1645,NaN,NaN,45880,41000,40000,NaN,NaN,NaN,21.76,-,-,108,98
Twin Otter,315,DHC-6 400,2,PT6A-34,-,462,HC-B3TN-3D/T10282N,5.64,1.5,1.61,10.9,NaN,NaN,15.77,19.81,5.94,3.7,4.53,39.02,1,0,4.46,3.9,0.51,24,9.29,6.29,0,1,187,0.29,NaN,250,100,14,337,1446,NaN,NaN,702,5670,5670,5579,NaN,3377,NaN,1030,3.57,-,-,19,19

In [12]:
para_for_60_aircrafts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, A220-300 to Twin Otter
Data columns (total 52 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Operating_Aircraft_Count                     63 non-null     object
 1   Option_Variant                               63 non-null     object
 2   Total_Engines                                63 non-null     object
 3   Model                                        63 non-null     object
 4   Max_Takeoff_Thrust                           63 non-null     object
 5   Equivalent_Power                             63 non-null     object
 6   Propeller_Type                               63 non-null     object
 7   Cabin_Length                                 34 non-null     object
 8   Max_Cabin_Height                             61 non-null     object
 9   Max_Cabin_Width                              62 non-null     object
 10  Passenger_Compartment_Volume                 20 non-null     object
 11  Fuselage_Height                              56 non-null     object
 12  Fuselage_Width                               56 non-null     object
 13  Aircraft_Length                              63 non-null     object
 14  Wing_Span                                    63 non-null     object
 15  Aircraft_Height                              63 non-null     object
 16  Wheel_Track                                  59 non-null     object
 17  Wheelbase                                    59 non-null     object
 18  Wing_Area                                    29 non-null     object
 19  Wing_Taper_Ratio                             60 non-null     object
 20  1/4_Wing_Sweep                               60 non-null     object
 21  Area_S_V_[m²]                                15 non-null     object
 22  Height_b_V_[m]                               60 non-null     object
 23  Taper_ratio_λ_V                              59 non-null     object
 24  1/4_Chord_Sweep_φ_25,V_[°]                   59 non-null     object
 25  Area_S_H                                     15 non-null     object
 26  Span_b_H                                     61 non-null     object
 27  Taper_Ratio_λ_H                              60 non-null     object
 28  1/4_Chord_Sweep_φ_25                         60 non-null     object
 29  V_MO                                         63 non-null     object
 30  M_MO                                         62 non-null     object
 31  Cruise_Speed                                 30 non-null     object
 32  Max_Certified_Flight_Level                   63 non-null     object
 33  Cruise_Altitude                              23 non-null     object
 34  Unusable_Fuel                                39 non-null     object
 35  Optional_Fuel                                61 non-null     object
 36  Max_Usable_Fuel                              63 non-null     object
 37  Max_Payload                                  54 non-null     object
 38  Max_Pax_R_M                                  58 non-null     object
 39  Max_Range_R_PLMR                             56 non-null     object
 40  Max_Ramp_m_MR                                61 non-null     object
 41  Max. Take-Off, m_MTO (MTOM) [kg]             63 non-null     object
 42  Max_Landing_m_ML                             62 non-null     object
 43  Max_Zero_Fuel                                61 non-null     object
 44  Operating Empty, m_OE (OEM) (MZFM-MPL) [kg]  62 non-null     object
 45  Max_Payload_m_MPL                            60 non-null     object
 46  Payload_at_Max_Range_m_PLMR                  54 non-null     object
 47  Volume_V_CARGO                               58 non-null     object
 48  Cargo_Capacity                               60 non-null     object
 49  Max_Pallet_Underfloor                        60 non-null     object
 50  Max_Seats_n_M,SEAT                           63 non-null     object
 51  Std_Layout_n_SEAT                            63 non-null     object
dtypes: object(52)
memory usage: 26.1+ KB

In [13]:
#para_for_60_aircrafts = para_for_60_aircrafts.drop(columns=['Operating-Aircraft-Count'], axis=1)
change_datatype = {
                'Total_Engines': float,
                'Option_Variant': object,
                'Max_Takeoff_Thrust': float,
                'Equivalent_Power': float,
                'Cabin_Length': float,
                'Max_Cabin_Height': float,
                'Max_Cabin_Width': float,
                'Passenger_Compartment_Volume': float,
                'Fuselage_Height': float,
                'Fuselage_Width': float,
                'Aircraft_Length': float,
                'Wing_Span': float,
                'Aircraft_Height': float,
                'Wheel_Track': float,
                'Wheelbase': float,
                'Wing_Area': float,
                'Wing_Taper_Ratio': float,
                '1/4_Wing_Sweep': float,
                'Area_S_V_[m²]': float,
                'Height_b_V_[m]': float,
                'Taper_ratio_λ_V': float,
                '1/4_Chord_Sweep_φ_25,V_[°]': float,
                'Area_S_H': float,
                'Span_b_H': float,
                'Taper_Ratio_λ_H': float,
                '1/4_Chord_Sweep_φ_25': float,
                'V_MO': float,
                'M_MO': float,
                'Cruise_Speed': float,
                'Max_Certified_Flight_Level': float,
                'Cruise_Altitude': float,
                'Unusable_Fuel': float,
                'Optional_Fuel': float,
                'Max_Usable_Fuel': float,
                'Max_Payload': float,
                'Max_Pax_R_M': float,
                'Max_Range_R_PLMR': float,
                'Max_Ramp_m_MR': float,
                'Max_Take_Off_m_MTO': float,
                'Max_Landing_m_ML': float,
                'Max_Zero_Fuel': float,
                'Operating_Empty_m_OE': float,
                'Max_Payload_m_MPL': float,
                'Payload_at_Max_Range_m_PLMR': float,
                'Volume_V_CARGO': float,
                'Max_Pallet_Underfloor': float,
                'Max_Seats_n_M,SEAT': float,
                'Std_Layout_n_SEAT': float
            }

para_for_60_aircrafts = para_for_60_aircrafts.astype(change_datatype)
print(para_for_60_aircrafts.dtypes)

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'Max_Take_Off_m_MTO' not found in columns."

In [80]:
problematic_row = para_for_60_aircrafts[para_for_60_aircrafts.eq('-').any(axis=1)]
print(problematic_row)

Aircraft type Option-Variant  Total_Engines       Model Max-Takeoff-Thrust  \
0
A220-300                   -              2     PW1521G              97.73
A319ceo                    -              2   CFM56-5A5             104.53
A319neo                    -              2   LEAP-1A26             120.64
A320ceo                    -              2   CFM56-5B4              120.1
A320neo                    -              2   LEAP-1A29             130.29
...                      ...            ...         ...                ...
Fokker 50       F27 Mark 050              2      PW125B                  -
Fokker 100     F28 Mark 0100              2  Tay 650-15              67.17
Saab 340                340B              2   GE CT7-9B                  -
Superjet 100      SSJ100/95B              2      SaM146               71.6
Twin Otter         DHC-6 400              2     PT6A-34                  -

Aircraft type Equivalent-Power      Propeller-Type  Cabin-Length  \
0
A220-300                     -                   -         27.50
A319ceo                      -                   -         23.78
A319neo                      -                   -         23.78
A320ceo                      -                   -         27.51
A320neo                      -                   -         27.51
...                        ...                 ...           ...
Fokker 50                 1864      R352/6-123-F/1           NaN
Fokker 100                   -                   -         21.19
Saab 340                  1395            14 RF-19         10.40
Superjet 100                 -                   -         20.42
Twin Otter                 462  HC-B3TN-3D/T10282N          5.64

Aircraft type  Max-Cabin-Height  Max-Cabin-Width  \
0
A220-300                   2.13             3.28
A319ceo                    2.25             3.70
A319neo                    2.25             3.70
A320ceo                    2.25             3.70
A320neo                    2.25             3.70
...                         ...              ...
Fokker 50                   NaN             2.50
Fokker 100                 2.01             3.10
Saab 340                   1.80             2.20
Superjet 100               2.12             3.24
Twin Otter                 1.50             1.61

Aircraft type  Passenger-Compartment-Volume  Fuselage-Height  Fuselage-Width  \
0
A220-300                                NaN             3.72            3.51
A319ceo                               120.0             4.14            3.95
A319neo                               120.0             4.14            3.95
A320ceo                               139.0             4.14            3.95
A320neo                               139.0             4.14            3.95
...                                     ...              ...             ...
Fokker 50                               NaN             2.80            2.70
Fokker 100                              NaN             3.30            3.30
Saab 340                               33.4             2.31            2.31
Superjet 100                            NaN              NaN             NaN
Twin Otter                             10.9              NaN             NaN

Aircraft type  Aircraft-Length  Wing-Span  Aircraft-Height Wheel-Track  \
0
A220-300                 38.70      35.10            11.50        6.73
A319ceo                  33.84      35.80            11.76        7.59
A319neo                  33.84      35.80            11.76        7.59
A320ceo                  35.57      35.80            11.76        7.59
A320neo                  35.57      35.80            11.76        7.59
...                        ...        ...              ...         ...
Fokker 50                25.25      29.00             8.32         7.2
Fokker 100               35.53      28.08             8.42        5.04
Saab 340                 19.73      22.70             6.97         6.7
Superjet 100             29.94      27.80            10.28         NaN
Twin Otter               15.77      19.81             5.94         3.7

Aircraft type  Wheelbase  Wing-Area  Wing-Taper-Ratio  1/4-Wing-Sweep  \
0
A220-300           15.31     112.30          0.260000            26.0
A319ceo            11.04        NaN          0.250000            23.5
A319neo            11.04        NaN          0.270181            23.5
A320ceo            12.64        NaN          0.250000            23.5
A320neo            12.64        NaN          0.270181            23.5
...                  ...        ...               ...             ...
Fokker 50           8.10      70.00          0.400000             1.5
Fokker 100         14.01        NaN          0.290000            17.5
Saab 340            7.14      43.11          0.365000             4.5
Superjet 100         NaN        NaN          0.255000            25.0
Twin Otter          4.53      39.02          1.000000             0.0

Aircraft type  Area-S_V-[m²]  Height-b_V-[m]  Taper-ratio-λ_V  \
0
A220-300               28.20            6.00            0.350
A319ceo                  NaN            5.87            0.330
A319neo                  NaN            5.87            0.330
A320ceo                  NaN            5.87            0.330
A320neo                  NaN            5.87            0.330
...                      ...             ...              ...
Fokker 50                NaN            4.60            0.385
Fokker 100               NaN            4.08            0.705
Saab 340               10.40            3.74            0.380
Superjet 100             NaN            5.47            0.305
Twin Otter              4.46            3.90            0.510

Aircraft type  1/4-Chord-Sweep-φ_25,V-[°]  Area-S_H  Span-b_H  \
0
A220-300                             35.5     36.60     12.26
A319ceo                              35.0       NaN     12.45
A319neo                              35.0       NaN     12.45
A320ceo                              35.0       NaN     12.45
A320neo                              35.0       NaN     12.45
...                                   ...       ...       ...
Fokker 50                            17.0       NaN      9.75
Fokker 100                           37.5       NaN     10.04
Saab 340                             32.0     14.57      9.24
Superjet 100                         33.5       NaN     10.00
Twin Otter                           24.0      9.29      6.29

Aircraft type  Taper-Ratio-λ_H  1/4-Chord-Sweep-φ_25  V_MO   M_MO  \
0
A220-300                 0.375                  30.5   489   0.82
A319ceo                  0.375                  28.0   488   0.82
A319neo                  0.375                  28.0   488   0.82
A320ceo                  0.375                  28.0   488   0.82
A320neo                  0.375                  23.5   488   0.82
...                        ...                   ...   ...    ...
Fokker 50                0.360                   6.0   305  0.507
Fokker 100               0.410                  25.5   462   0.77
Saab 340                 0.400                   5.0   283   0.47
Superjet 100             0.270                  30.0   488   0.81
Twin Otter               0.000                   1.0   187   0.29

Aircraft type  Cruise-Speed  Max-Certified-Flight-Level  Cruise-Altitude  \
0
A220-300                NaN                       410.0              NaN
A319ceo                 NaN                       410.0              NaN
A319neo                 NaN                       410.0              NaN
A320ceo                 NaN                       410.0              NaN
A320neo                 NaN                       410.0              NaN
...                     ...                         ...              ...
Fokker 50              0.45                       250.0              NaN
Fokker 100              NaN                       350.0              NaN
Saab 340                NaN                       250.0            190.0
Superjet 100           0.78                       400.0              NaN
Twin Otter              NaN                       250.0            100.0

Aircraft type  Unusable-Fuel Optional-Fuel  Max-Usable-Fuel  Max-Payload  \
0
A220-300               125.0             -            21381       2000.0
A319ceo                 82.0          8250            15609       2500.0
A319neo                 82.0          8248            15477       2700.0
A320ceo                 82.0          8250            15609       2100.0
A320neo                 82.0          8250            15609       2450.0
...                      ...           ...              ...          ...
Fokker 50                NaN             -             5136        600.0
Fokker 100              94.0             -            13365       1370.0
Saab 340                60.0             -             3220        330.0
Superjet 100             NaN           NaN            15805          NaN
Twin Otter              14.0           337             1446          NaN

Aircraft type  Max-Pax-R_M  Max-Range-R_PLMR  Max-Ramp-m_MR  \
0
A220-300            3100.0            3350.0        71300.0
A319ceo             3000.0            3950.0        75900.0
A319neo             3500.0            4300.0        75900.0
A320ceo             2850.0            3300.0        78400.0
A320neo             3150.0            4000.0        79400.0
...                    ...               ...            ...
Fokker 50            920.0            1720.0        20865.0
Fokker 100          1590.0            1720.0        46040.0
Saab 340             470.0            1220.0        13740.0
Superjet 100        1645.0               NaN            NaN
Twin Otter             NaN             702.0         5670.0

Aircraft type  Max-Take-Off-m_MTO  Max-Landing-m_ML  Max-Zero-Fuel  \
0
A220-300                    70900           58800.0        55800.0
A319ceo                     75500           62500.0        58500.0
A319neo                     75500           63900.0        60300.0
A320ceo                     78000           66000.0        62500.0
A320neo                     79000           67400.0        64300.0
...                           ...               ...            ...
Fokker 50                   20820           20030.0        18900.0
Fokker 100                  45810           39915.0        36740.0
Saab 340                    13605           12930.0        12020.0
Superjet 100                45880           41000.0        40000.0
Twin Otter                   5670            5579.0            NaN

Aircraft type  Operating-Empty-m_OE  Max-Payload-m_MPL  \
0
A220-300                    43500.0            12300.0
A319ceo                     35400.0            23100.0
A319neo                     39600.0            20700.0
A320ceo                     43500.0            19000.0
A320neo                     45800.0            18500.0
...                             ...                ...
Fokker 50                   13400.0             5500.0
Fokker 100                  24747.0            11993.0
Saab 340                     8620.0             3400.0
Superjet 100                    NaN                NaN
Twin Otter                   3377.0                NaN

Aircraft type  Payload-at-Max-Range-m_PLMR  Volume-V_CARGO Cargo-Capacity  \
0
A220-300                            6350.0           27.46              -
A319ceo                             9800.0           27.66          4 ULD
A319neo                            11000.0           27.66          4 ULD
A320ceo                            13000.0           37.42      7 LD3-45W
A320neo                            12000.0           37.42      7 LD3-45W
...                                    ...             ...            ...
Fokker 50                           3300.0            5.51              -
Fokker 100                          9200.0           18.02              -
Saab 340                            2450.0           11.00              -
Superjet 100                           NaN           21.76              -
Twin Otter                          1030.0            3.57              -

Aircraft type Max-Pallet-Underfloor  Max-Seats-n_M,SEAT  Std-Layout-n_SEAT
0
A220-300                          -                 149                140
A319ceo                           -                 160                156
A319neo                           -                 160                156
A320ceo                           7                 180                170
A320neo                           7                 194                180
...                             ...                 ...                ...
Fokker 50                         -                  62                 50
Fokker 100                        -                 109                100
Saab 340                          -                  37                 34
Superjet 100                      -                 108                 98
Twin Otter                        -                  19                 19

[63 rows x 51 columns]

<font color=red><b>
    - Finish data cleaning for this section. Convert them into float values.<br>
    - Create a Table Schema for them<br>
    - Add Explanation regarding each column parameter<br>
    - Explain whether the data consists of aerodynamics or flight mechanics info<br>
    - Also check the way names of aircrafts given are correct<br>
</b></font>.

--------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------

# <font color=33FFF9>**Turbofan Specific Fuel Consumption, Size and Mass from Correlated Engine Parameters**</font>

The database and information is taken from the following paper: https://www.fzt.haw-hamburg.de/pers/Scholz/arbeiten/LandingHammami.html<br>

Request to use the dataset has been granted.

## **Parameters**

- **Model:** The model name or designation of the turbofan engine.
- **Application:** The intended application or use of the engine (e.g., commercial aviation, military aviation, etc.).
- **Takeoff Thrust [lbf]:** The thrust produced by the engine during takeoff, typically measured in pounds-force (lbf).
- **Takeoff Thrust [N]:** The thrust produced by the engine during takeoff, typically measured in Newtons (N).
- **Thrust (Cruise) [lbf]:** The thrust produced by the engine during cruise conditions, typically measured in pounds-force (lbf).
- **Thrust (Cruise) [N]:** The thrust produced by the engine during cruise conditions, typically measured in Newtons (N).
- **SFC (h=0,M=0) [lb/lbf hr]:** The specific fuel consumption of the engine at sea level and zero Mach number, typically measured in pounds of fuel per pound of thrust per hour (lb/lbf hr).
- **SFC (h=0,M=0) [kg/s.N]:** The specific fuel consumption of the engine at sea level and zero Mach number, typically measured in kilograms of fuel per second per Newton of thrust (kg/s.N).
- **SFC (Cruise) [lb/lbf hr]:** The specific fuel consumption of the engine during cruise conditions, typically measured in pounds of fuel per pound of thrust per hour (lb/lbf hr).
- **SFC (Cruise) [kg/s.N]:** The specific fuel consumption of the engine during cruise conditions, typically measured in kilograms of fuel per second per Newton of thrust (kg/s.N).
- **OPR_ Sea lvl:** The overall pressure ratio of the engine at sea level.
- **Cruise Altitude (h) [ft]:** The cruise altitude of the aircraft equipped with the engine, typically measured in feet (ft).
- **Cruise Altitude (h) [Km]:** The cruise altitude of the aircraft equipped with the engine, typically measured in kilometers (Km).
- **Cruise Temperature [K]:** The temperature at cruise altitude, typically measured in Kelvin (K).
- **Mach Number:** The Mach number at cruise conditions.
- **C_a [Kg/N.m]:** The constant a in the engine performance model equation (Kg/N.m).
- **C_b [Kg/N.s]:** The constant b in the engine performance model equation (Kg/N.s).
- **BPR:** The bypass ratio of the engine.
- **Entry into service:** The date when the engine was introduced into commercial service.
- **Dry Mass [lb]:** The dry mass of the engine, typically measured in pounds (lb).
- **Dry Mass [kg]:** The dry mass of the engine, typically measured in kilograms (kg).
- **Number of spools:** The number of spools in the engine design.
- **Fan Diameter [in]:** The diameter of the fan section of the engine, typically measured in inches (in).
- **Fan Diameter [m]:** The diameter of the fan section of the engine, typically measured in meters (m).
- **Length [in]:** The overall length of the engine, typically measured in inches (in).
- **Length [m]:** The overall length of the engine, typically measured in meters (m).
- **Width/Diameter [in]:** The width or diameter of the engine, typically measured in inches (in).
- **Width/Diameter [m]:** The width or diameter of the engine, typically measured in meters (m).
- **Engine Volume [m^3]:** The volume of the engine, typically measured in cubic meters (m³).

In [15]:
turbofan_fuel_consumption_dataset = pd.read_excel('Datasets/Turbofan_Specific_Fuel_Consumption_Size_and_Mass_from_Correlated_Engine_Parameters/Database_googlesheet.xlsx')
turbofan_fuel_consumption_dataset

,Manufacturer,Model,Application,Takeoff Thrust [lbf],Takeoff Thrust [N],Thrust (Cruise) [lbf],Thrust (Cruise) [N],"SFC (h=0,M=0) [lb/lbf hr]","SFC (h=0,M=0) [kg/s.N]",SFC (Cruise) [lb/lbf hr],SFC (Cruise) [kg/s.N],OPR_ Sea lvl,Cruise Altitude (h) [ft],Cruise Altitude (h) [Km],Cruise Temperature [K],Mach Number,C_a [Kg/N.m],C_b [Kg/N.s],BPR,Entry into service,Dry Mass [lb],Dry Mass [kg],Number of spools,Fan Diameter [in],Fan Diameter [m],Length [in],Length [m],Width/Diameter [in],Width/Diameter [m],Engine Volume [m^3]
0,Allison (RollsRoyce),AE3007A,"ERJ135ER, ERJ145ER",7580.0,33718.0,NaN,NaN,360.0,0.10115,650.0,0.18266,"24,00",NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
1,Allison (Rolls-Royce),AE3007A1,"ERJ-135ER, ERJ-145ER",7580.0,33718.0,NaN,NaN,360.0,0.10115,650.0,0.18266,"24,00",NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
2,Allison (Rolls-Royce),AE3007A1/1,"ERJ-135ER/LR, ERJ-145LR",7580.0,33718.0,NaN,NaN,390.0,0.10958,650.0,0.18266,NaN,NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
3,Allison (Rolls-Royce),AE3007A1/3,"ERJ-135LR, ERJ-140, Legacy Corporate Shuttle",7200.0,32027.0,NaN,NaN,390.0,0.10958,650.0,0.18266,NaN,NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
4,Allison (Rolls-Royce),AE3007A1E,ERJ-145XR,8110.0,36075.0,NaN,NaN,390.0,0.10958,650.0,0.18266,NaN,NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,Bristol Siddeley (Rolls-Royce),Viper Mk.526,PD-808,3360.0,14946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1951.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,Rolls-Royce,Viper Mk.600,NaN,3750.0,16681.0,NaN,NaN,950.0,0.26692,NaN,NaN,"5,60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,Rolls-Royce,Viper Mk.601-22,HS 125-600B,3750.0,16681.0,NaN,NaN,950.0,0.26692,NaN,NaN,"5,80",NaN,NaN,NaN,NaN,NaN,NaN,"0,67",1980.0,790.0,358.0,1.0,NaN,NaN,"113,90",28931.0,"28,90",7341.0,12244.0
718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,`,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
column_mapping_fuel_consumption = {
    'Takeoff Thrust [lbf]':'Takeoff_Thrust_lbf',
    'Takeoff Thrust [N]':'Takeoff_Thrust_N',
    'Thrust Cruise [lbf]':'Thrust_Cruise_lbf',
    'Thruse Cruise [N]':'Thrust_Cruise_N',
    'SFC (h=0,M=0) [lb/lbf hr]': 'SFC_lbf_hr',
    'SFC (h=0,M=0) [kg/s.N]': 'SFC_kg_s_N',
    'SFC (Cruise) [lb/lbf hr]': 'SFC_Cruise_lbf_hr',
    'SFC (Cruise) [kg/s.N]': 'SFC_Cruise_kg_s_N',
    'OPR_ Sea lvl':'OPR_Sea_lvl',
    'Cruise Altitude (h) [ft]':'Cruise_Altitude_ft',
    'Cruise Altitude (h) [Km]':'Cruise_Altitude_Km',
    'Cruise Temperature [K]':'Cruise_Temperature_K',
    'Mach Number':'Mach_Number',
    'C_a [Kg/N.m]' : 'C_a',
    'C_b [Kg/N.m²]':'C_b',
    'Entry into service':'Entry_into_service',
    'Dry Mass [lb]':'Dry_Mass_lb',
    'Dry Mass [Kg]':'Dry_Mass_Kg',
    'Number of spools':'Number_of_spools',
    'Fan Diameter [in]':'Fan_Diameter_in',
    'Fan Diameter [m]':'Fan_Diameter_m',
    'Length [in]':'Length_in',
    'Length [m]':'Length_m',
    'Width/Diameter [in]':'Width_Diameter_in',
    'Width/Diameter [m]':'Width_Diameter_m',
    'Engine Volume [m^3]':'Engine_Volume_m^3',
}

# Rename the columns
turbofan_fuel_consumption_dataset.rename(columns=column_mapping_fuel_consumption, inplace=True)
turbofan_fuel_consumption_dataset

,Manufacturer,Model,Application,Takeoff_Thrust_lbf,Takeoff_Thrust_N,Thrust (Cruise) [lbf],Thrust (Cruise) [N],SFC_lbf_hr,SFC_kg_s_N,SFC_Cruise_lbf_hr,SFC_Cruise_kg_s_N,OPR_Sea_lvl,Cruise_Altitude_ft,Cruise_Altitude_Km,Cruise_Temperature_K,Mach_Number,C_a,C_b [Kg/N.s],BPR,Entry_into_service,Dry_Mass_lb,Dry Mass [kg],Number_of_spools,Fan_Diameter_in,Fan_Diameter_m,Length_in,Length_m,Width_Diameter_in,Width_Diameter_m,Engine_Volume_m^3
0,Allison (RollsRoyce),AE3007A,"ERJ135ER, ERJ145ER",7580.0,33718.0,NaN,NaN,360.0,0.10115,650.0,0.18266,"24,00",NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
1,Allison (Rolls-Royce),AE3007A1,"ERJ-135ER, ERJ-145ER",7580.0,33718.0,NaN,NaN,360.0,0.10115,650.0,0.18266,"24,00",NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
2,Allison (Rolls-Royce),AE3007A1/1,"ERJ-135ER/LR, ERJ-145LR",7580.0,33718.0,NaN,NaN,390.0,0.10958,650.0,0.18266,NaN,NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
3,Allison (Rolls-Royce),AE3007A1/3,"ERJ-135LR, ERJ-140, Legacy Corporate Shuttle",7200.0,32027.0,NaN,NaN,390.0,0.10958,650.0,0.18266,NaN,NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
4,Allison (Rolls-Royce),AE3007A1E,ERJ-145XR,8110.0,36075.0,NaN,NaN,390.0,0.10958,650.0,0.18266,NaN,NaN,NaN,NaN,"0,80",NaN,NaN,"5,30",1991.0,1586.0,719.0,2.0,"38,50",9779.0,"106,50",27051.0,"43,50",11049.0,25937.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,Bristol Siddeley (Rolls-Royce),Viper Mk.526,PD-808,3360.0,14946.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1951.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,Rolls-Royce,Viper Mk.600,NaN,3750.0,16681.0,NaN,NaN,950.0,0.26692,NaN,NaN,"5,60",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,Rolls-Royce,Viper Mk.601-22,HS 125-600B,3750.0,16681.0,NaN,NaN,950.0,0.26692,NaN,NaN,"5,80",NaN,NaN,NaN,NaN,NaN,NaN,"0,67",1980.0,790.0,358.0,1.0,NaN,NaN,"113,90",28931.0,"28,90",7341.0,12244.0
718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,`,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
turbofan_fuel_consumption_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Manufacturer           719 non-null    object
 1   Model                  718 non-null    object
 2   Application            611 non-null    object
 3   Takeoff_Thrust_lbf     594 non-null    float64
 4   Takeoff_Thrust_N       594 non-null    float64
 5   Thrust (Cruise) [lbf]  367 non-null    object
 6   Thrust (Cruise) [N]    367 non-null    float64
 7   SFC_lbf_hr             478 non-null    float64
 8   SFC_kg_s_N             478 non-null    float64
 9   SFC_Cruise_lbf_hr      441 non-null    float64
 10  SFC_Cruise_kg_s_N      441 non-null    float64
 11  OPR_Sea_lvl            405 non-null    object
 12  Cruise_Altitude_ft     399 non-null    float64
 13  Cruise_Altitude_Km     394 non-null    float64
 14  Cruise_Temperature_K   394 non-null    float64
 15  Mach_Number            408 non-null    object
 16  C_a                    347 non-null    float64
 17  C_b [Kg/N.s]           347 non-null    float64
 18  BPR                    570 non-null    object
 19  Entry_into_service     355 non-null    float64
 20  Dry_Mass_lb            551 non-null    float64
 21  Dry Mass [kg]          551 non-null    float64
 22  Number_of_spools       664 non-null    float64
 23  Fan_Diameter_in        479 non-null    object
 24  Fan_Diameter_m         479 non-null    float64
 25  Length_in              543 non-null    object
 26  Length_m               543 non-null    float64
 27  Width_Diameter_in      442 non-null    object
 28  Width_Diameter_m       442 non-null    float64
 29  Engine_Volume_m^3      414 non-null    float64
dtypes: float64(20), object(10)
memory usage: 168.9+ KB

In [21]:
a320_engine= turbofan_fuel_consumption_dataset[turbofan_fuel_consumption_dataset['Model'] == 'PW1519G']
a320_engine

Empty DataFrame
Columns: [Manufacturer, Model, Application, Takeoff_Thrust_lbf, Takeoff_Thrust_N, Thrust (Cruise) [lbf], Thrust (Cruise) [N], SFC_lbf_hr, SFC_kg_s_N, SFC_Cruise_lbf_hr, SFC_Cruise_kg_s_N, OPR_Sea_lvl, Cruise_Altitude_ft, Cruise_Altitude_Km, Cruise_Temperature_K, Mach_Number, C_a, C_b [Kg/N.s], BPR, Entry_into_service, Dry_Mass_lb, Dry Mass [kg], Number_of_spools, Fan_Diameter_in, Fan_Diameter_m, Length_in, Length_m, Width_Diameter_in, Width_Diameter_m, Engine_Volume_m^3]
Index: []

--------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------